[2015-08-28 11:02] GoogleCodeExporter opened #118 "Desktop notifications"
[code]

Original issue reported on code.google.com by `czarek.t...@gmail.com` on 25 Jul 2014 at 11:12

[2015-08-28 11:03] GoogleCodeExporter opened #146 "Chrome 39 RC"
Latest available is 3.2171.1902.
Includes Chrome 39.0.2171.36.

[2015-08-28 11:03] GoogleCodeExporter opened #147 "Chrome 33 release (CEF branch 1750)"
[code]

Original issue reported on code.google.com by `czarek.t...@gmail.com` on 28 Nov 2014 at 10:37

[2015-08-28 11:03] GoogleCodeExporter opened #148 "Change mouse cursor indicator during loading of a web page in Chrome 33 and later branches"
Since Chrome 33 web pages do not show "loading cursor" in Google Chrome, it is Aura UI bug: https://code.google.com/p/chromium/issues/detail?id=133039

Change cursor icon in OnLoadingStateChange. See WM_SETCURSOR, GetCursor, SetCursor and LoadCursor on MSDN pages.

Original issue reported on code.google.com by `czarek.t...@gmail.com` on 28 Nov 2014 at 11:32

[2015-08-28 11:03] GoogleCodeExporter opened #165 "Option for the Mongoose web server to listen on all available ip addresses (local and public)"
Mongoose allows to specify port-only to listen on and in such case the web server should be listening on all ip addresses available (127.0.0.1, 192.168.x.x, PUBLIC IP address). Example from mongoose docs: `listening_ports 8080,8043s` (the second port is for SLL and is optional). Currently phpdesktop forces a specific ip address be specified in settings.json. If the ip address is empty it assigns 1

[2015-10-06 11:11] onrozcn opened #167 "Printing to PDF"
hi i use phpdesktop-chrome-39.0-php-5.4.33,

but i can't print to pdf my php page

[2015-12-03 18:48] dimasskt commented on #165
I'm thinking about work around this while this issue is not done.

Is there some known work around on it?

I am going to build a script that will set the ip of current machine to settings.json
and run php-desktop.

[2015-12-06 11:07] benschhold opened #168 "CTRL+F"
Is there a way to activate Control + F (find on page) in phpdesktop Chrome?

[2015-12-15 21:53] moodooguru opened #169 "Php Desktop for Mac?"
Would be great! Any chance we will see this happening soon?

[2015-12-17 09:40] cztomczak commented on #169
Duplicate https://github.com/cztomczak/phpdesktop/issues/78

[2015-12-17 09:40] #169 closed

[2016-01-14 19:20] rubengc opened #170 "Error on Visual Studio 2015"
Hi, I have been followed all instructions to make the .exe file, but when I open the project file in VS 2015 I got an error about the project is using VS 2010 dependencies and It cannot be upgraded

How can I fix it?

[2016-01-15 14:07] cztomczak commented on #170
As explained on https://code.google.com/p/phpdesktop/wiki/BuildOnWindows you can use either VS2010 or VS2013. The version of CEF library that we currently use may have some issues with VS2015 (but newer CEF will work ok). You can install multiple Visual Studio versions along with your VS2015 - the solution for now.

[2016-01-15 14:16] cztomczak commented on #168
There is API in CEF for searching text, see CefFindHandler::OnFindResult:
https://bitbucket.org/chromiumembedded/cef/src/63d313de765331590178821efb920774352ba6fa/include/cef_find_handler.h?at=master#cef_find_handler.h-60

It would be required to provide GUI control for use with this API - probably the most straightforward way would be to do this in javascript. We could provide new functions to Jav

[2016-01-15 14:19] cztomczak commented on #167
Printing to PDF is supported in newer CEF versions. This will become available when we update CEF.

[2016-01-26 09:20] cztomczak commented on #147
See new Milestone Chrome 47.

[2016-01-26 09:20] #147 closed

[2016-01-26 09:25] cztomczak opened #171 "Chrome 47 RC"
CEF branch 2526.
Need to recheck issues that were discovered in Chrome 39 (Issue #146). Double mouse scrolling should be fixed in upstream CEF.

[2016-01-30 12:25] krembo opened #172 "How to add php extensions?"
I want in particular to enable php_opcache.dll extension.
I see that it was removed from the package because of some alerts, but is there any way to add and enable it?

[2016-01-30 14:17] cztomczak commented on #172
You can replace PHP binaries, see instructions on the BuildOnWindows wiki page: https://github.com/cztomczak/phpdesktop/wiki/BuildOnWindows#download-php-binaries

[2016-01-30 14:17] #172 closed

[2016-01-30 14:17] cztomczak commented on #172
Please ask questions on the Forum.

[2016-01-30 23:59] krembo commented on #172
Thanks!

[2016-02-03 15:11] zap0xfce2 commented on #171
There is also a bug with jQuery UI Buttons rendering in CEF Branch 2171 (Chromium 39.0.2171.95) with CEF Branch 2272 (Chromium 41.0.2272.104) the rendering is okay again. When will PHPDesktop have greater than Chromium 39?

[2016-02-03 18:16] cztomczak commented on #171
@zap0xfce2 Chrome 47 RC will be released in a few days.

[2016-02-05 17:00] cztomczak opened #173 "Migrate wiki pages from the wiki branch to the Wiki tab"
Work in progress.

[2016-02-06 11:35] cztomczak commented on #173
Wiki pages are now fully functional: https://github.com/cztomczak/phpdesktop/wiki

The wiki branch was deleted. Use the Wiki tab to browse wiki pages now.

Attaching the python script that was used to fix wiki pages exported by Google Code:
[fix_markdown.zip](https://github.com/cztomczak/phpdesktop/files/120258/fix_markdown.zip)

[2016-02-06 11:35] #173 closed

[2016-02-06 11:47] Narno commented on #173
:+1:

[2016-02-09 09:00] zap0xfce2 commented on #171
Where can i download the PHP Desktop Chrome 47 binaries?

[2016-02-09 09:28] cztomczak commented on #171
Issue is still Open.

[2016-02-09 11:39] cztomczak opened #174 "Update to VS 2013"
VS 2010 won't be supported anymore.
Testing with VS 2013 Update 5.

[2016-02-09 15:38] cztomczak opened #175 "Test on XP"
Use Microsoft's free virtual machines:
https://dev.windows.com/en-us/microsoft-edge/tools/vms/windows/

[2016-02-09 20:45] cztomczak commented on #174
Done in commit b36fd350c9e2456ccfb495d97e7f7db75b13b3af.

[2016-02-09 20:45] #174 closed

[2016-02-09 20:45] cztomczak commented on #174
Build instructions were updated on the wiki page.

[2016-02-09 20:47] cztomczak commented on #146
See Chrome 47 RC / Issue #171 .

[2016-02-09 20:47] #146 closed

[2016-02-09 21:12] cztomczak commented on #171
Chrome 47 RC is ready.

Download: https://github.com/cztomczak/phpdesktop/wiki/Download-Chrome#release-candidates

I have tested only on Windows 7 SP1, but this release looks good and stable to me - bugs found in Chrome 39 RC are fixed eg. double scrolling is fixed.

Changes in d38c32a1607b026dac6c952545e17a5f081b8c05, c2bd8a49b69c0de24dfa001dcbfd21053b36a88b, dfb197e56d8805113e7517f45cd58eceda968

[2016-02-09 21:12] #171 closed

[2016-02-10 15:56] 2braincells2go opened #176 "Custom user agent string"
Testing out the new RC Chrome RC 47 (working great so far).

I do not need heavy security as designing desktop apps for grade school users but, need to prevent them from accessing via browser. Make simple instruction software and some of the little boogers and smart enough to use browser:)

Even before RC47 attempted to use htaccess and restrict. Failed... Have read on stackoverflow and many other

[2016-02-10 16:08] cztomczak commented on #176
Please ask questions on Forum.

[2016-02-10 16:08] #176 closed

[2016-02-10 16:14] 2braincells2go commented on #176
my bad. what happens when you have 23 kids in one ear...

[2016-02-10 18:46] cztomczak commented on #175
CEF crashed on Win XP, upstream issue here: https://bitbucket.org/chromiumembedded/cef/issues/1787

The solution is to copy dbghelp.dll next to executable. Chrome 47.1 release is now being prepared, see the download wiki page.

CEF with Chrome 49 will be the last version to support Windows XP

[2016-02-10 18:46] #175 closed

[2016-02-10 18:55] cztomczak opened #177 "Enable sandbox support"
Since we've upgraded to VS 2013 we can now enable sandbox support.

[2016-02-11 08:50] cztomczak commented on #148
Fixed in commit 0b2a0148f6226857adbd3e30cb085006ca0f6488.
It's not perfect, but does its job pretty well.

[2016-02-11 08:50] #148 closed

[2016-02-11 20:46] 2braincells2go commented on #171
Not sure if appropriate place but like to report that everything looks good using Windows 10. Tried 47.0RC and now just 47.2RC and see no obvious issues.

[2016-02-12 19:26] cztomczak opened #178 "Repaint issues when resizing window"
It happens after some time of resizing window. Browser view area will become only portion of the window with scrollbars being misplaced. Sometimes whole window will menu bar buttons and borders will become just white background.

Maybe this is upstream [CEF Issue #1882](https://bitbucket.org/chromiumembedded/cef/issues/1822/file-dialogs-leave-trails-on-linux).

There was new function CefBrowserHos

[2016-02-12 19:38] cztomczak opened #179 "When window is minimized set browser size to 0x0 to reduce resource usage"
There are changes in cefclient in regards to WM_RESIZE event. When window is minimized browser size is set to 0x0 to reduce resource usage. See the code:

[code]

[2016-02-12 22:47] cztomczak commented on #178
Fixed in commit 107e293. This was a serious issue that would reveal itself not only during resize, but also after longer period of running application - tray icon was loaded thousands of times and never freed. A new binary release will be ready in a moment.

[2016-02-12 22:47] #178 closed

[2016-02-12 23:23] cztomczak opened #180 "Crash on WinXP introduced in 47.3 RC"
Looks like CEF browser window handle is not yet ready at that moment. Thus a NULL browser handle is assigned to BrowserWindow.

[2016-02-13 09:59] cztomczak commented on #180
Fixed in 860d0bca865c55905b3063c1b6fda8044dfbe5d6. Previous commit 7802ead580e1a40ca0fdedd6bf8614a40d4f0e58 didn't fix it.

[2016-02-13 09:59] #180 closed

[2016-02-16 19:21] cztomczak opened #181 "Popup controls like <select> don't work when"

[2016-02-16 19:28] cztomczak opened #182 "Popup widgets like <select> don't work when "always_on_top" is set to True"
This includes <select> element and drop-down button on input type=date.

It's a bug in upstream CEF reported in Issue 1468: https://bitbucket.org/chromiumembedded/cef/issues/1468/dropdowns-are-hidden-behind-browser-window

Related CEF topic:
http://www.magpcss.org/ceforum/viewtopic.php?f=6&t=12805

[2016-02-16 19:29] #181 closed

[2016-02-23 06:44] cztomczak commented on #165
Done in commit 4b000098dea8d95320867d96e7f52d43cb99dac2 . See it for more details.

[2016-02-23 06:44] #165 closed

[2016-02-23 10:10] cztomczak opened #183 "Cleanup in git repo. Use branches from now on."
Create new empty root branches (with the [--orphan flag](http://stackoverflow.com/questions/15034390/how-to-create-a-new-and-empty-root-branch)):
* chrome
* msie

Move phpdesktop-chrome47/ directory to the chrome branch.
Move phpdesktop-msie/ directory to the msie branch.

Delete the phpdesktop-chrome/ and phpdesktop-chrome39/ directories.

Modify VS project files to move the Release/ and Debug/ d

[2016-02-23 18:57] cztomczak opened #184 "Option for the Mongoose web server to listen on HTTPS/SSL"
To implement SSL support it would be required to:

1. Allow for "listen_on" port to be a string "443s" and "s" meaning SSL
2. New option "ssl_certificate", path to ssl certificate file (a self-signed certificate in our case)
3. Taking a quick look at mongoose.c and it seems that SSL is being loaded dynamically. Two additional DLL files would need to be distributed with app: ssleay32.dll and libeay

[2016-02-23 21:20] dillydadally commented on #184
Would it be better to have two separate settings options Instead of appending an 's' to the port? For example:

listen_on
ssl_listen_on

That way you can have a different port for each and communicate with both http and https depending on the port you send to.

[2016-02-23 23:36] dillydadally commented on #184
Another thought. Since this isn't a feature everyone will use and those DLL's are easily located elsewhere, it might be better if they weren't distributed with PHP Desktop, but instead, instructions could be left in the documentation on how to designate a ssl port in the listen_on setting and where to download the DLL's if you need the feature.

[2016-02-27 23:24] hgati opened #185 "html select tag not work on phpdesktop-chrome-47.5-rc-php-5.4.33"
if always_on_top is true...........

settings.json
[code]

www/index.php
[code]

CAN'T DROP DOWN ~~

![snap1](https://cloud.githubusercontent.com/assets/6913728/13376085/bc5c74a4-ddf4-11e5-9de1-6c570321508c.png)

[2016-02-28 07:35] cztomczak commented on #185
Already reported in Issue #182. Please report problems on the Forum.

[2016-02-28 07:35] #185 closed

[2016-03-16 13:31] cztomczak opened #186 "An option in settings.json to specify a path to a script or exe that will be executed when application shuts down"
Script could be .bat or a .php file. In case of php use the existing php interpreter specified in settings.json. This option could be named "shutdown_processes".

See also a similar issue #163 for a new option named "startup_processes".

[2016-04-11 05:21] cztomczak opened #187 "Chrome v47 stable release with multiple php flavors: 5.4, 5.5, 5.6, 7.0"
Prepare a total of 4 zip packages. Do a quick test for each and scan with virustotal.com.

[2016-04-16 22:38] ZanderBrown commented on #168
i think a js api but with a fallback Win32 Control could be the way to go.

a control - f could trigger a "find" event which the page could then either block in the same way as right clicks on implement find in whatever way makes sense for that page but if no event listener is registered it should just provide a Notepad style find dialog.

No idea how to implement this just adding my opinion to a

[2016-04-17 11:21] cztomczak commented on #168
In the cefclient sample browser there is a default implementation of find dialog for which we could just copy the corresponding C++ code. This dialog is activated in cefclient by selecting from top menu "File > Find...". Attaching screenshot.

![cefclient find text](https://cloud.githubusercontent.com/assets/1187415/14586621/2a7a903a-049f-11e6-8e71-af25915df92b.jpg)

[2016-04-17 17:58] ZanderBrown commented on #168
that would be great as a fallback a trivial to add but i think pages should be able to add their own handlers in the form of

    phpdesktop.addEventListener("find", function () {
        var findme = prompt("Please enter your name", "Harry Potter");
    });

which adds the question of custom js handlers for prompt so when using a framwork like [MDL](http://getmdl.io/) which has its own modal dial

[2016-04-26 08:25] zap0xfce2 commented on #187
Is there a way to disable the internal WebServer (Mongoose) and just point to a web address?

[2016-04-26 08:43] cztomczak commented on #187
@zap0xfce2 Ask questions on the Forum. You can do a redirect in index.php.

[2016-04-27 09:13] sideqlicious opened #188 "Input video"
Please do not create issues in the Issue Tracker.
Also do not ask questions in existing issues.

Ask questions and report problems on the PHP Desktop Forum:
https://groups.google.com/d/forum/phpdesktop

hello guys..i have trouble with video..i input some video using this

 <video width="620" height="240" controls>
  <source src="vid/106.mp4" type="video/mp4">
  <source src="vid/106.aac" type="vide

[2016-04-27 09:56] #188 closed

[2016-05-10 19:50] cztomczak opened #189 "Provide signed phpdesktop executable"
See this topic for reference:
https://groups.google.com/d/topic/phpdesktop/yB0cK0VGAk8/discussion

[2016-05-10 20:16] ZanderBrown commented on #189
i have had simliar problems when initially downloading PHPDesktop but i find that when you open the files properties and click unblock UAC goes away. Bit of a bug in Windows now i think of it.

[2016-05-17 11:28] bawasaab opened #190 "inno db does not include hidden files and folders"
as i had made a setup and make my www folder as hidden. setup created successfully but as i started to run the program in client machine it shows file not found error. I think the inno db setup does not include hidden files and folders.

[2016-05-19 06:48] cztomczak commented on #190
Ask questions on the Forum.

[2016-05-19 06:48] #190 closed

[2016-08-19 09:50] anandreddyks opened #191 "Microphone is not accessible"
I cant access microphone after adding the enable-speech in command_line_switches @settings.json.

I tried with these websites . .
https://www.talater.com/annyang/
https://www.onlinemictest.com/

[2016-08-19 11:44] cztomczak commented on #191
Looks like a duplicate of #75. Please report problems on the Forum.

[2016-08-19 11:44] #191 closed

[2016-08-26 02:50] CGAP opened #192 "phpMyAdmin - Error"
Error during session start; please check your PHP and/or webserver log file and configure your PHP installation properly. Also ensure that cookies are enabled in your browser.

session_start(): open(C:\Windows\TEMP\sess_ipiitudu0tlnlhom6nd4jfrcfn6ptbrq, O_RDWR) failed: Invalid argument (22)

Can anyone assist me to solve this issue?

In my php.ini file settings-  session.save_path="c:\temp\phpsess

[2016-08-27 08:01] cztomczak opened #193 "Confirm on close"
A way to prevent accidental closing of app window. Related topic on the Forum:

https://groups.google.com/d/topic/phpdesktop/giHxE-z18L8/discussion

For javascript events 'onunload' and 'onbeforeunload' to work when closing app window additional logic needs to be implemented. See comments for CefLifeSpanHandler::DoClose:

https://bitbucket.org/chromiumembedded/cef/src/9ee4db6dbb3837cab08d25a35c1f8

[2016-09-15 20:11] DioneLago opened #194 "Where do I get the version for Mac?"
I liked the project, as did small tests, very good! But I tried to download a version of the same for Mac and have not found, there is only downloads with .exe, is there a version for Mac? If so, where meeting someone can help me?

[2016-09-15 22:12] ZanderBrown commented on #194
You don't get it because it doesn't exist.

[2016-09-15 23:13] cztomczak commented on #194
Only Windows platform is supported so far. Duplicate of #78 . There isn't much stopping from porting phpdesktop to Mac, only time and effort, all dependent libraries like Mongoose web server and Chromium Embedded Framework are supported on both Mac/Linux. Porting to Mac with basic settings support, without  all the advanced options from settings.json / js api, should be straightforward to do, in a

[2016-09-15 23:13] #194 closed

[2016-09-15 23:36] DioneLago commented on #194
Guys, thanks for the clarification. If there is the possibility of a version for Mac and Linux would be perfect, PHP is a language for decades and is still very active in the market, I believe it would be possible to meet the demand for small business applications with simple solutions. @cztomczak congratulations here by made.

[2016-10-06 16:53] cztomczak opened #195 "Support for Geolocation"
For geolocation to work it is required to implement CefGeoLocationHandler: https://bitbucket.org/chromiumembedded/cef/src/b660893c6e800374d2b908a0b56ca47441ea2135/include/cef_geolocation_handler.h?at=2526&fileviewer=file-view-default#cef_geolocation_handler.h-67

We could allow to configure this through settings.json, but as it requires setting google API keys, we could as well set Access permissi

[2016-11-09 17:18] sergiocreativoweb opened #196 "ES6"
Please Chrome updated ES6

[2016-11-09 18:41] #196 closed

[2016-12-17 23:51] git-matrix opened #197 "[ui] Hide Window"
I want to hide Window (main_window) after it run (Not minimizing).
Can you help me do it?

[2016-12-18 00:18] #197 closed

[2016-12-28 09:53] monalisa21 opened #198 "Minimize window and Auto stop features in settings.json file"
Hi,

I don't want the Main Window to show up while the application runs. But we don't have any options in the setting.json file to do that. I want my application run in the background or even showing minimized in tray is fine too. Also when application execution is completed can it be closed on its own.

Any help regarding the above issue, will be grateful.

Thanks!!

[2016-12-28 10:04] cztomczak commented on #198
Please read this:
1. Do not create Issues to report problems and/or ask questions. Use the Forum for that.
2. Before creating an Issue it must first be discussed and confirmed on the Forum.
3. Always use the Forum: https://groups.google.com/d/forum/phpdesktop

[2016-12-28 10:04] #198 closed

[2016-12-28 10:39] cztomczak opened #199 "Allow app to run in background. Implement "start_minimized" setting."
There is an option "minimize_to_tray" that shows app only in tray, but only after it was minimized. There is an option "start_maximized" and I think it shouldn't be hard to add a similar option named "start_minimized", which when used along with "minimize_to_tray" should gave the desired effect of running in background. Pull requests are welcome.

[2017-02-03 05:40] agrapps commented on #167
Hi, im also trying to print, but i cant, whats CEF version?
Im actually using
phpdesktop-master -47.5-rc-php-5.4.33

[2017-03-16 17:16] carmenchapa commented on #194
Guys, this project seems awesome. So sad it is not supported by Mac. It would be really useful for me.

[2017-03-22 07:24] cztomczak opened #200 "Update to Chrome 57"
CEF prebuilt binaries now used are from Spotify automated builds: http://opensource.spotify.com/cefbuilds/index.html

Visual Studio 2015 is now used.

Requirements to run: Windows 7+.
Windows XP and Vista are no more supported.

Update to PHP 7.1.

PHP 7 requires vcruntime140.dll  - download [vc_redist.x86.exe](https://www.microsoft.com/en-us/download/details.aspx?id=48145) (13 MB).

Update [Build

[2017-03-22 07:37] cztomczak opened #201 "warning C4005: 'LOG': macro redefinition"
LOG macro needs to be renamed. Logs from when building:

[code]

Issue report on CEF Forum: http://www.magpcss.org/ceforum/viewtopic.php?f=6&t=12356

[2017-03-22 08:52] cztomczak commented on #200
57.0 RC released: https://github.com/cztomczak/phpdesktop/releases/tag/chrome-v57.0-rc

[2017-03-22 15:47] ZanderBrown commented on #200
If it's only RC should it not be marked as a prerelease?

[2017-03-22 15:49] ZanderBrown commented on #187
Should this be closed now in favour of #200

[2017-03-22 15:58] cztomczak commented on #187
Yup :)

[2017-03-22 15:58] #187 closed

[2017-03-22 16:01] cztomczak commented on #200
Yup :) Fixed.

[2017-03-22 16:07] ZanderBrown commented on #170
With #200 i assume that's fixed

[2017-03-22 16:11] cztomczak commented on #170
Yeah, VS 2015 is now officially supported.

[2017-03-22 16:11] #170 closed

[2017-03-22 16:14] cztomczak commented on #192
Please retest with latest phpdesktop v57 with PHP 7.1. If reproduced I will reopen.

[2017-03-22 16:14] #192 closed

[2017-03-22 16:16] cztomczak commented on #167
Can someone test it with latest phpdesktop v57?
https://github.com/cztomczak/phpdesktop/releases/tag/chrome-v57.0-rc

[2017-03-22 17:54] ZanderBrown commented on #167
I've successfully used Microsoft Print to PDF from the print dialog using v57RC on WinX1607

[test.pdf](https://github.com/cztomczak/phpdesktop/files/862359/test.pdf)

[2017-03-22 18:07] agrapps commented on #167
Hi cztomczak, i try it and it really print :)
I test it just with one button:
<input type="button" name="imprimir" value="Imprimir" onclick="window.print();">
Thanks a lot

[2017-03-22 18:16] cztomczak commented on #167
Great :) Closing.

[2017-03-22 18:16] #167 closed

[2017-03-23 19:41] cztomczak commented on #200
Just for information, I just checked and there were 15412 downloads for the previous 47.5 release.

[2017-04-25 19:38] agrapps opened #202 "How to use webcam"
Hi, is there a way to use webcam in my app, im using webcam.js, it works on localhost but not in phpdesktop it sends me this:

Javascript Alert - http://127.0.0.1:55365
Webcam.js Error: Could not access to webcam:
PermissionDeniedError: [Object NavigatorUserMediaError]

Thanks

[2017-04-25 19:44] agrapps commented on #202
Already could, i found the soultion here:
https://github.com/cztomczak/phpdesktop/wiki/Chrome-settings#command_line_switches

In settings.json it have to be like this:

"command_line_switches": {
            "enable-media-stream": true
        },

[2017-04-25 19:44] #202 closed

[2017-04-26 04:12] cztomczak commented on #202
Please do not create issues on github. Use Forum to report issues.

[2017-04-26 20:25] jrrequena commented on #199
I'm waiting for this solution.

[2017-05-10 13:47] cztomczak opened #203 "Print preview support"
Print preview is currently not supported by upstream CEF. You can however print to PDF which can act as a preview before printing.

Below is link to the issue in upstream CEF that tracks this feature. You can vote for that issue so that it has higher priority, but please don't add any comments. Saying that you need this feature or asking when it gets implemented is not helpful. The link is: https:

[2017-05-29 13:07] ahmedilyasofficial opened #204 "Enable To Attach Database With Php Script"
Hi PHP desktop,

I Am Very Happy This Is Very Good Tool For Creating Desktop Application When i Want To Attach Database In My Php Application Using PHPMyAdmin I try All Common Pass Like Root, admin pass, Naz etc. Also, I Use SQL Lite and Attach It's Not Work Please Tell Me The Solution What is The Username and Pass How I can Access Phpmyadmin.

Problem Image Source.
http://prntscr.com/fde33s
http:

[2017-05-29 14:06] cztomczak commented on #204
Please ask questions on the Forum.

[2017-05-29 14:06] #204 closed

[2017-06-03 18:43] flourigh opened #205 "display_errors = Off"
Hello i have a problem with a display_errors parameters in PHP.INI on change to OFF this app crash.

[2017-06-04 01:30] doublevie commented on #205
Try with value 0

[2017-06-04 05:11] cztomczak commented on #205
Please ask questions on the Forum.

[2017-06-04 05:11] #205 closed

[2017-06-04 13:14] flourigh commented on #205
this error
https://prntscr.com/ffqun7
https://prntscr.com/ffqvcr
https://prntscr.com/ffqun9
https://prntscr.com/ffqun8
https://prntscr.com/ffqunj

http://imgur.com/a/BlX1s

[2017-06-04 19:02] ZanderBrown commented on #205
Instead of hiding the errors you should be working on fixing them

[2017-06-05 17:06] flourigh commented on #205
@ZanderBrown if($Var) { // with value } elser { $var = value; } and it breaks when doing so, it's not my fault. ...

If you do not have constructive words, insert the ...

[2017-06-05 17:10] flourigh commented on #205
exemple i trying this error

`	if(!$_COOKIE[SITEINDEX]) {
	    setcookie(SITEINDEX, max(explode('/', dirname($_SERVER[PHP_SELF]))));
	    define(siteindex, '/' . max(explode('/', dirname($_SERVER[PHP_SELF]))) . '/');
    } else {
    	define(siteindex, '/' . $_COOKIE[SITEINDEX] . '/'); }`

[2017-06-05 19:33] cztomczak commented on #205
Please ask general PHP questions on a general PHP forum. Locking this conversation.

[2017-06-07 10:50] aldurai opened #206 "support for popup"
**I need a help to keep the popup always on the top. Is is possible?**
currently I am generating a PDF in new window, but if the user didn't close it then next time will become behind the parent.
Thanks

Please read this:
1. Do not create Issues to report problems and/or ask questions. Use the Forum for that.
2. Before creating an Issue it must first be discussed and confirmed on the Forum.
3. Alw

[2017-06-08 13:11] asiffar opened #207 "How to connect with MySQL Database?? my localhost database not working"
Please read this:
1. Do not create Issues to report problems and/or ask questions. Use the Forum for that.
2. Before creating an Issue it must first be discussed and confirmed on the Forum.
3. Always use the Forum: https://groups.google.com/d/forum/phpdesktop

[2017-06-08 13:35] #207 closed

[2017-06-22 05:10] cztomczak opened #208 "Funding for a Mac release [$2000 of $2,000]"
**_Funding is completed as of July 15th, 2022. Work on the new release for Mac is starting soon._**

This funding is for those interested in sponsoring an initial release for Mac. Similarly to the Linux release, the Mac release will have most essential functionality with most common options in settings.json file being supported. With time more features will be added and for now let's focus on maki

[2017-06-22 05:12] cztomczak commented on #208
The issue on bountysource:
https://www.bountysource.com/issues/46465464-funding-for-mac-release

[2017-07-26 01:07] itsmeAhmer opened #209 "Html5 autocomplete and datalist still not working"
I Saw New Version and I'm glad that one support to php7 too.
but Html5 few command still not working
1, `<form autocompelete =on>`
2, `<input><datalist> </datalist><input type='submit'>`
and few more but those 2 really I feel necessary in your Application.
Thanks for giving us your expensive times.
Take care.

[2017-07-26 01:16] itsmeAhmer commented on #209
I Saw New Version and I'm glad that one support to php7 too.
but Html5 few command still not working
1, <form autocompelete =on>
2, <input><datalist> </datalist><input type='submit'>
and few more but those 2 really I feel necessary in your Application.
Thanks for giving us your expensive times.
Take care.

[2017-07-26 03:06] cztomczak commented on #209
Datalist is not yet supported by upstream CEF, a related issue is here:

https://bitbucket.org/chromiumembedded/cef/issues/906/cef3-add-html5-datalist-support

Please don't ask questions in that upstream issue, do not comment there or anything, I just put it here for reference.

[2017-08-01 12:59] zstergios opened #210 "exe is missing..."
I have searched on all folders and I can't find

crhome.exe
and php7 folder is empty

[2017-08-01 13:30] zstergios commented on #210
Is not very clear were the releases are located.
https://github.com/cztomczak/phpdesktop/releases/tag/chrome-v57.0-rc

[2017-08-01 13:30] #210 closed

[2017-08-04 08:32] OrayEmreGunduz opened #211 "I want to use the cache file only for cookies."
I want to use the cache file only for cookies. Because of the other files, the file size is very high after a while
["cache_path": "",]
Cookies do unfortunately not working when cache is turned off

[2017-08-04 09:27] #211 closed

[2017-08-21 13:05] doublevie opened #212 "Can't edit settings.json"
hi ,
trying to edit file settings.json file to switch chrome language . but content return null because Malformed JSON and the output return null

$jsonString = file_get_contents(__DIR__.'/../settings.json');
$data = json_decode($jsonString,true);
print $data; //return null

switch (json_last_error()) {
    case JSON_ERROR_NONE:
        echo ' - No errors';
    break;
    case JSON_ERROR_DEPTH:

[2017-08-21 13:48] #212 closed

[2017-09-11 18:15] penggunaphp opened #213 "External page won't loaded in new window"
In PHPDesktop i open link whi target="_blank" the external page won't loaded...

![image](https://user-images.githubusercontent.com/11702917/30289758-5e621d72-9757-11e7-9cd2-00344f1d6909.png)

But with firefox it works fine...

![image](https://user-images.githubusercontent.com/11702917/30289774-68ef5cc8-9757-11e7-95ca-10f96fba2823.png)

How can i fix this? thank

Sorry i create new issue in here,

[2017-09-11 18:38] cztomczak commented on #213
Please report problems on the forum.

[2017-09-11 18:38] #213 closed

[2017-09-20 04:45] akshil4444 commented on #209
Hi, I was hoping to get fix datalist sooner actually I need in my application. Is there any luck?
Thank you :)

[2017-09-20 05:26] cztomczak commented on #209
This needs to be implemented in the upstream project.

[2017-09-29 09:01] Quartzbell commented on #209
Input type=color also doesn't work correctly  just like datalist tag, is this issue related to each other?

[2017-09-29 10:09] cztomczak commented on #209
I've changed title. HTML5 input type=color also needs to be implemented in upstream, related upstream issue is here: https://bitbucket.org/chromiumembedded/cef/issues/899/cef3-add-html5-input-type-color-support

[2017-10-09 13:07] cztomczak opened #214 "Integrate Chromium's internal http/websockets server"
See upstream CEF issue:
https://bitbucket.org/chromiumembedded/cef/issues/2278/expose-internal-http-websockets-server

[2017-10-12 00:21] svnpenn commented on #194
https://github.com/cztomczak/phpdesktop/issues/169

[2017-10-12 00:21] svnpenn commented on #208
https://github.com/cztomczak/phpdesktop/issues/169

[2017-10-12 00:21] svnpenn commented on #169
https://github.com/cztomczak/phpdesktop/issues/194

[2017-10-12 00:21] svnpenn commented on #208
https://github.com/cztomczak/phpdesktop/issues/194

[2017-10-12 00:21] svnpenn commented on #169
https://github.com/cztomczak/phpdesktop/issues/208

[2017-10-12 00:22] svnpenn commented on #194
https://github.com/cztomczak/phpdesktop/issues/208

[2017-10-18 09:23] jakecorn opened #216 "Multiple CGI/FastCGI Processes Running in the Background"
Hi guys,

Please help me regarding with this problem.
I am implementing ajax request for every 1 second around 3 requests every second, these run in the background. But the problem is,  there are times that the Http request status is always pending, the request doesn't get any response from the server. Once there is one occurrence of pending status, all of the following request will be pending too

[2017-10-18 09:29] cztomczak commented on #216
Please report problems on the Forum. This may be an issue with your PHP script.

[2017-10-18 09:29] #216 closed

[2017-10-18 09:49] jakecorn commented on #216
@cztomczak, what do you mean? To what forum should I report the problem?.I added an image on the details

[2017-10-18 09:52] cztomczak commented on #216
See https://goo.gl/ppizK3

[2017-10-18 09:56] jakecorn commented on #216
@cztomczak the link is block in our network.

[2017-10-18 09:57] cztomczak commented on #216
https://groups.google.com/forum/#!forum/phpdesktop

[2017-10-18 09:57] jakecorn commented on #216
@cztomczak, thanks for your reply

[2017-10-18 09:58] jakecorn commented on #216
the second link is still blocked in our network.

[2017-11-07 07:28] jakecorn opened #217 "How to set PHP session.gc_maxlifetime value"
Good day!

Please help how to set the value for variable  session.gc_maxlifetime because in the default configuration found in php.ini there is no such variable. Is it okay to add new variable? What is the default value of that variable?

Please help me.

Thank you

[2017-11-07 07:46] cztomczak commented on #217
Please ask questions on the Forum: https://goo.gl/ppizK3
It's okay to add a new variable. Look in PHP documentation for the default value.

[2017-11-07 07:46] #217 closed

[2017-11-09 12:29] shrikant190890 opened #218 "How can i use my online server in application."
i have converted my laravel website into destop application using phpdesktop. Its working fine on localhost. Now i want to connect it to my live server (Means i want to get all time data from live server and if i do some changes it will store them on server. ).
Is this is possible?

[2017-11-09 12:32] ZanderBrown commented on #218
1: Not the right place
2: Have you tried to do it?

[2017-11-09 12:35] juangacovas commented on #218
Make your remote mysql accept external connections, not only from
localhost, usually from a new mysql user for that purpose. Then change the
host, user and password config for mysql in your laravel app.

Hope that helps

El 9 nov. 2017 1:29 p. m., "shrikant190890" <notifications@github.com>
escribió:

[2017-11-09 12:35] shrikant190890 commented on #218
yes i have tried it with ip address in listen_on option but on other system it threw error  on start of application.

[2017-11-10 04:32] #218 closed

[2017-11-13 08:43] ganeshlore opened #219 "Warning : webrtcvoiceengine.cc()] Unexpected Codec:"
hi,
i am using peerjs.js for my app in debug console log showing
Warning : webrtcvoiceengine.cc()] Unexpected Codec:

Any Suggestion..........!

[2017-11-13 10:09] cztomczak commented on #219
Suggestion for what? This is not a valid bug report. Please ask questions on the Forum.

[2017-11-13 10:09] #219 closed

[2017-12-28 23:50] asmarfaq opened #220 "there is no phpdesktop_chrome.exe file in it"
Please read this:
1. Do not create Issues to report problems and/or ask questions. Use the Forum for that.
2. Before creating an Issue it must first be discussed and confirmed on the Forum.
3. Always use the Forum: https://groups.google.com/d/forum/phpdesktop

[2017-12-29 00:40] ZanderBrown commented on #220
Support is given on the forum, this is for bugs.

[Have you downloaded a release](https://github.com/cztomczak/phpdesktop/wiki/Download-Chrome) or did you just clone the repository

[2017-12-29 06:48] cztomczak commented on #220
Like ZanderBrown says, looks like you've downloaded sources instead of binaries.

[2017-12-29 06:48] #220 closed

[2017-12-30 08:02] phpengine commented on #208
Hi @cztomczak , I'd be quite interested in meeting some or all of that bounty. Would/Could It also work for Linux? Thanks, Dave

[2017-12-30 09:07] cztomczak commented on #208
@phpengine Linux port is a separate task, the issue for Linux is #77. I haven't created a bounty for Linux port, but if you're interested I can do so. Porting to Mac and Linux both require substantial amount of new code and testing, so these are separate tasks.

[2018-01-02 16:04] cztomczak opened #221 "Funding for a Linux release [$1,500 of $1,500]"
For those interested in sponsoring a Linux release. This initial Linux release would include basic functionality - only some of the options in the settings.json file would be supported. With time more settings may be added. For now let's just make it work on Linux!

Funding will be carried out using bountysource.com website. Multiple people can post bounties and make up for the goal ($1,500). See

[2018-01-08 15:43] beshoo commented on #221
So there is no BETA to test ?

[2018-01-08 15:49] cztomczak commented on #221
Pull requests are welcome.

[2018-01-12 13:17] phpengine commented on #221
Great, In regards to testing with different OS's, thats something I can definitely do. I do DevOps bits, so I've started looking at creating a pipeline that can run tests automatically after a commit/tag, getting them to run on multiple OS's should be reasonably simple. I'll hopefully have something useful in about a week. I'll also create a VM dev environment for it too.

[2018-01-12 13:18] phpengine commented on #221
Also as an FYI, I'll be meeting either half or all of this next week. Thanks

[2018-01-12 15:31] cztomczak commented on #221
Okay, great.

[2018-01-19 11:15] jirehnimes opened #222 "Source code protection for PHP 7"
Since you updated the chrome57 with PHP7, don't you have any source code protection for it? Thanks.

https://github.com/cztomczak/phpdesktop/wiki/Source-code-protection

[2018-01-19 11:34] cztomczak commented on #222
See https://github.com/cztomczak/phpdesktop/wiki/Knowledge-Base#how-do-i-protect-php-sources-in-the-www-directory

Please ask questions on the Forum.

[2018-01-19 11:34] #222 closed

[2018-01-19 11:40] jirehnimes commented on #222
Sorry about that I haven't read a different guide. Thanks very much and for fast reply.

[2018-01-19 11:42] jirehnimes commented on #222
Actually before reading this I'm actually trying the ColdevProLayer.

[2018-01-21 15:38] QTMcKay opened #223 "Start as a Windows Service before/without Logon"
The idea would be that the Mongoose Webserver could be set to run as a Service so that no Login is required, like any Webserver can do (according to Mongoose docs, running it as a Service is already possible).
The Service could supply an Icon in the Tray as soon as a User logs in, which upon clicking the icon, the Chrome (or IE) GUI is invoked.

Here is an excellent article with source code showin

[2018-01-21 16:01] cztomczak commented on #223
What is the purpose of starting web server before/without logon? How would that be useful to phpdesktop users in general? It seems that such feature solves your specific problem that you haven't described. Before such feature can be merged you have to explain why is this useful. Pull requests are welcome.

[2018-01-21 16:05] cztomczak commented on #223
Same question for starting as window service. How is that useful to phpdesktop users and what is the advantage of starting as service over adding application to Startup Programs? (along with implementing starting app minimized feature)

[2018-01-23 13:40] QTMcKay commented on #223
I have a JS App that runs on Client Devices and communicates via AJAX using JSON messages/responses with a PHP Desktop "server".  The Server, written in PHP, supplies the JS code for the Clients, and it has access to the filesystem, and more importantly a Database (MSSQL) that it interacts with to formulate JSON-encoded responses.  The Server also hosts a GraphQL Service which facilitates several

[2018-01-23 15:20] cztomczak commented on #223
Just FYI: Alternative solution could be that app installer created e.g. with Inno Setup installs both phpdesktop app and e.g. Apache web server as a service. Both phpdesktop web server and Apache web server would serve scrpts from the same phpdesktop/www/ directory. I believe this can all be automated using Inno Setup scripting, so that app installer installs phpdesktop and configures apache web s

[2018-01-23 16:33] QTMcKay commented on #223
Sure that could be done, however, Apache increases the size of the Installer _significantly_, adds to the complexity of the Setup Script, and on Windows at least, results in having 2 or 3 Webservers running (Apache, Mongoose, and possibly IIS).

If PHP Desktop allowed for starting Mongoose as a Service, then it would be possible to have a _single_ Webserver, with the correct version of PHP (ie. 7.

[2018-02-04 06:38] astherweb opened #224 "Suggestions for PHPDesktop"
Hi,

Congratulations for the initiative. I'm doing some testing and I really like the system.
I do not know how to program in C otherwise it could contrinuir with the suggestions that I will mention.

1) The settings allow changing color of the window, so not only stay in the windows default. Use colors that match the system layout (eg Spotfy desktop, Adobe ...).

2) Open browser tabs.

Thanks

[2018-02-04 07:32] cztomczak commented on #224
Custom window themes are to be implemented in Issue #26. Regarding browser tabs - I think that's something you could implement using html5 frames. It's best to keep such discussions on the Forum.

[2018-02-04 07:32] #224 closed

[2018-02-05 04:09] somasekhard79 commented on #221
I am waiting for linux support release,

[2018-02-05 15:25] phpengine commented on #221
Hey @cztomczak , I've just posted half the bounty for this job - Thanks in advance :)

[2018-02-05 15:49] cztomczak commented on #221
@phpengine Thank you :-) I will take on step one, which is to investigate the best option for the GUI framework to use. As described in Issue #77, either CEF Views can be used (these unfortunately are not supported on Mac, so cannot be reused) or GTK API can be used. CEF Views have some nice features and easy integrate with CEF without any focus/keyboard issues. When using GTK the code is more com

[2018-02-17 20:29] cztomczak commented on #221
I've been testing CEF views and everything works fine. You can run upstream cefclient sample application in views mode by passing `--use-views` flag. Views API is very straightforward and its api is available in CEF's [include/views/](https://github.com/chromiumembedded/cef/tree/master/include/views) directory. Classes that interest us are CefWindow and CefBrowserView. CefWindow has some useful me

[2018-02-17 20:44] cztomczak commented on #221
I've asked question on the CEF Forum in regards to implementing dialogs when using CEF Views. CEF topic for reference: https://magpcss.org/ceforum/viewtopic.php?f=6&t=15778

[2018-02-21 18:38] phpengine commented on #221
Hey, sorry it took so long to repond. I've spent most of the last week bedbound by flu. Thanks for these, I've had a look, and I think we'd need them all. Having said that though, I've already written replacements for the JS Dialogs, so we could do those last. I'd also be happy to put a bit more in the bounty if we cuold get them all in at some point. I would say file dialogs would be most importa

[2018-02-21 19:55] cztomczak commented on #221
Sorry to hear that you're sick. I wish you a fast recovery. Okay so file dialogs are priority no1. Hopefully these can be easily integrated with CEF Views using existing implementation in cefclient, will see.

[2018-02-23 09:17] Deletko opened #225 "PDF Download"
PDF files keep opening inside php desktop.
Is there a way to force them to download instead

tnx in advance

[2018-02-23 09:49] cztomczak commented on #225
Use `--disable-pdf-extension` flag to force downloading of PDF files. See the "command_line_switches" option on the Settings wiki page. Alternatively you can send appropriate headers to force download of a file if PDF is sent by a PHP script.

[2018-02-26 08:54] sbm1990 opened #226 "required attribute not working"
Hello All,

required attribute is  not working ??Should i need to change something..

[2018-02-26 09:09] #226 closed

[2018-03-09 07:13] cztomczak opened #227 "Funding for a Chrome v130 release for Windows [$2,000 of $2,000]"
Release: https://github.com/cztomczak/phpdesktop/releases/tag/chrome-v130.0

This funding is for those interested in sponsoring a PHP Desktop Chrome v130 release for Windows. The money will  be used to update phpdesktop to the latest Chrome version, implement new features, make a stable release and to provide long term support for it.

This project is developed and supported since year 2012 and ha

[2018-03-09 18:59] c11media opened #228 ".mp4 Video Support"
We are trying to move a web app, essentially its a webpage with a video playing on a muted autoplay loop. I saw support in PHP Desktop for extra mime types and modified as below however the area is blank as if it is unsupported and when i try a video.js player it says there is no compatible source for this media. With the web version there are  no issues using remote and local media file.

I added

[2018-03-09 19:14] cztomczak commented on #228
Please do not create issues in the tracker. Ask for help on the Forum.

[2018-03-09 19:14] #228 closed

[2018-03-12 17:28] alissonpelizaro commented on #193
We have news about it? How to prevent a close app window?

[2018-03-12 19:42] cztomczak commented on #193
Pull requests are welcome.

[2018-03-14 05:42] somasekhard79 commented on #221
Hi, any updates in this. I am waiting for linux desktop release.  I will also try to fund. Thank you

[2018-03-14 06:26] cztomczak commented on #221
The goal for this funding is set to $1000. So far only $500 was posted.

[2018-03-26 09:29] shababhsiddique commented on #167
how can i enable the date time header on each page when printed? I cant seem to find that

[2018-03-28 11:55] cztomczak commented on #186
This can be accomplished using "NirCmd" utility:
http://www.nirsoft.net/utils/nircmd.html

This tool has "exec" and "waitprocess" commands with which you can accomplish this task. For example:

Step 1: execute the shutdown.php script in background when your application starts (e.g. in index.php only when session starts)

[code]

Step 2: the shutdown.php script will wait for phpdesktop.exe process

[2018-03-28 11:59] cztomczak commented on #186
If someone would like to create an example for phpdesktop with the code in post above then pull requests are welcome.

[2018-03-30 01:42] ratnakarmssl opened #229 "could not find .exe file to start the application"
Please read this:
1. Do not create Issues to report problems and/or ask questions. Use the Forum for that.
2. Before creating an Issue it must first be discussed and confirmed on the Forum.
3. Always use the Forum: https://groups.google.com/d/forum/phpdesktop

[2018-03-30 04:16] #229 closed

[2018-05-02 11:42] golches opened #230 "php extension number change when try to upload file"
i try to use phpdesktop to upload images and video, and i use file input plugin, but when i click on file input plugin to choose files i noticed that the number of extension change from 40 to 28, all extension in the php.in are unloaded, and if i close the file browser without choosing file, the number of extension back to 40, but if select a file the number of extension stay to 28, and all extens

[2018-05-08 12:40] cztomczak commented on #230
Please ask questions on the Forum. I saw your post, but I don't quite understand your problem. Provide more details on the Forum.

[2018-05-08 12:40] #230 closed

[2018-05-09 07:04] aznasar opened #231 "Audio Video Player"
Please add the audio and video flash player.

[2018-05-09 09:45] ZanderBrown commented on #231
Err no? Flash is dead

[2018-05-09 10:05] cztomczak commented on #231
Please ask questions on the Forum. Use latest v57 and see https://github.com/cztomczak/phpdesktop/wiki/Knowledge-Base#flash-works-in-google-chrome-but-not-in-php-desktop .

[2018-05-09 10:05] #231 closed

[2018-05-24 10:16] cztomczak commented on #214
A web server API is now available in upstream CEF, see:
https://bitbucket.org/chromiumembedded/cef/commits/facee1f

This could even be used to replace Mongoose web server. CEF web server is not suited for handling lots of simultanous connections, however for 99% of use cases where only one current user is using the application it should work just fine. When handling request it should execute the p

[2018-05-31 22:38] phpengine commented on #221
Hi guys, sorry it's been a while. I've just posted an extra $350 in. Hope it helps! Thanks @cztomczak

[2018-05-31 22:39] phpengine commented on #221
I'll hopfully do the rest next week :)

[2018-06-01 02:05] cztomczak commented on #221
Thanks. The earliest I can start working on this feature is somewhere after June.

[2018-06-11 08:19] SiL3NC3 commented on #193
A simple handling of close event would do the trick.
This issues is from 2016, any news how to get this working in Chrome47?

[2018-06-12 06:16] kasunubeysekara opened #232 "sessions not working"
Warning: session_start(): Cannot send session cookie - headers already sent by (output started at E:\phpdesktop-chrome-31.8-php-5.6.1\www\dfd\salesreport.php:2) in E:\phpdesktop-chrome-31.8-php-5.6.1\www\dfd\session.php on line 5

[2018-06-12 07:31] cztomczak commented on #232
Your problem is PHP related and you should ask for help on a general PHP forum.

[2018-06-12 07:31] #232 closed

[2018-06-15 13:36] YopSolo opened #233 "question about --plugin-path parameter"
When i launch my test app i see this line in the log

- 15:05:13.000 DEBUG: Command line string for the plugin process: "F:\tests\desktop-chrome\phpdesktop-chrome.exe" --type=plugin --plugin-path="C:\WINDOWS\SysWOW64\Macromed\Flash\NPSWF32_27_0_0_183.dll" --no-sandbox --lang=en-US --channel="5752.2.1346258657\173404711" --lang=en-US --log-file="F:\tests\desktop-chrome\debug.log" /prefetch:-3900604

[2018-06-15 14:01] YopSolo commented on #233
after another look to the documentation i see the  "command_line_switches": {} in settings

i have tested like this
        "command_line_switches": {
            "lang": "fr",
            "plugin-path":"/plugin/NPSWF32_27_0_0_183.dll"
        },
and
        "command_line_switches": {
            "lang": "fr",
            "plugin-path":"F:\\RT\\_a tester\\ToDesktop\\desktop-chrome\\plugin\\NPSWF32

[2018-06-15 15:27] cztomczak commented on #233
Please ask questions on the Forum and provide phpdesktop version information.

[2018-06-15 15:27] #233 closed

[2018-07-31 14:02] mattpass commented on #221
@cztomczak I am so happy to see a Linux build is planned. Are you working on this already and is an ETA planned? (I'm not sure if we're talking 3 months, 6 months etc?). I use PHP Desktop daily from by Windows machine and it rocks!! I'd be happy to chuck in $100 into your pot if you can make a Linux build happen (and also let us know an ETA) :-)

[2018-07-31 15:14] cztomczak commented on #221
I only did initial investigation of what solutions to choose so far. The goal is still not met, so the actual coding has not yet started. I've just increased the goal to $1,500. The work will begin after the goal is met.

@phpengine If you would like to withdraw your bounty, since I've increased the goal, you are free to do so.

[2018-07-31 16:10] cztomczak commented on #221
There is the "Backers" tab on bountysource and I can only see $500 posted there.

[2018-10-02 14:14] mohammadVatandoost opened #234 "laravel with sqlite"
I want to use sqlite with laravel 5.7, but I get this error:

my .env file:

[2018-10-02 14:52] webenformasyon commented on #234
https://laravel.com/docs/5.7/database

DB_CONNECTION=sqlite
DB_DATABASE=/absolute/path/to/database.sqlite

[2018-11-09 11:08] khan0324 commented on #209
DATLIST IS NOT WORKING PLEASE FIX IT AS SOON AS POSIBLE I NEED TO USE IT IN MY ON GOING PROJECT HIGHLY DEMANDING FROM MY CUSTOMER.

[2018-11-09 11:10] vjanagaran commented on #227
Hi, any roadmap on this upgrade

[2018-11-09 11:47] cztomczak commented on #227
@vjanagaran The cost for the upgrade to is $2,500 and there are no sponsors so far. I have updated the issue to upgrade it to Chrome v70.

[2018-11-16 05:31] cztomczak commented on #221
@phpengine In case you haven't heard, bountysource will be taking fees for unclaimed money over 90 days. I am considering changing the funding platform, as this doesn't sound right. One alternative is https://issuehunt.io/ .

Original announcement about the fees from bountysource:

[2018-11-16 05:34] cztomczak commented on #221
@phpengine If the bounty doesn't reach $1,500 this month, I suggesst you withdraw the money from bountysource to avoid the fees. You should do it before December 1st.

[2018-11-16 09:46] phpengine commented on #221
@cztomczak Hey dude, thanks for the heads up there, I thought it might be more efficient if I just get it done in the next week. I probably should have checked the exact status of this change to the terms of the payment first... but I'm sure I can get the remaining $150 in within a week. What happens after that on Bountysource? If needed, I can withdraw those payments and put them into the Issuehu

[2018-11-16 15:52] phpengine commented on #221
@cztomczak @mattpass , not anymore :) Let's go

[2018-11-16 15:58] mattpass commented on #221
@phpengine you put in the money? Awesome! I'm happy to put my $150 in tho, so if you already paid it, I can send to you. So so eager for this to happen and have my code editor on native Linux (currently only on Windows).

More than happy to send you the $150 @phpengine as you've been awesome and stumped up most of the bounty I think. Least I can do is chip in a little? (Paypal?)

[2018-11-16 16:19] cztomczak commented on #221
Great. The Linux release should be ready in about a month.

[2018-11-16 16:29] cztomczak commented on #221
@phpengine You've already mentioned that dialogs are vital for you. What options from the settings.json file are most essential to you?

[2018-11-16 17:48] phpengine commented on #221
@mattpass I'd say maybe chuck it into the OSx Version? Looks like a good shout for the IDE, all major platforms and such like. Might help to reach that goal a bit quicker? Also, on that note, and the idea that unclaimed funds are likely to be largely taken by Bountysource, maybe we should wait for the Issuehunt version or something similar?

[2018-11-16 18:16] phpengine commented on #221
@cztomczak , I'll have a look over the weekend and get back to you on those bits? Great, I'm massively looking forward to it

[2018-11-16 18:29] cztomczak commented on #221
I've written to Bountysource support to explain what exactly do they mean by unclaimed money. Whether this applies only to closed issues or open issues as well. It's not clear if this is the case here.

[2018-11-16 19:40] mattpass commented on #221
@phpengine while I'm not a Mac user (or fan), I agree it'd be great to have PHPDesktop across all major platforms (Linux/Win/Mac) so have put my $150 into that as suggested.

@cztomczak keep up the good work dude, you rock and I can't wait to use the Linux version one day soon! 👍

[2018-11-16 20:48] cztomczak commented on #221
@mattpass Thanks. I've updated issues and the fundings section on project's main page, so that people can easily see the status of fundings, see: https://github.com/cztomczak/phpdesktop#fundings-for-new-features

[2018-11-29 17:12] cztomczak commented on #221
Build on Linux wiki page was updated with complete build instructions. Commit ed145a6f0c017ecf7600593a2ac3d89ae94c4ee7 adds basic stuff working. App builds and runs. Just loads Google web page.

[2018-12-01 20:44] cztomczak commented on #221
Good news! PHP Desktop for Linux is basically working. Successfully embedded Mongoose server and PHP CGI. PHP Desktop app currently displays a window with CEF browser embedded, and navigates to mongoose server which serves `index.php` which displays `phpinfo()`. See screenshot below. Updated "Build on Linux" wiki page with instructions on how to build PHP from sources. New commits added in `linux7

[2018-12-01 21:06] cztomczak commented on #221
PHP Desktop for Linux v70.0 released for early testing. Download binaries from:
https://github.com/cztomczak/phpdesktop/releases/tag/linux-v70.0

[2018-12-02 09:54] cztomczak commented on #221
Things yet to be done for the basic functionality:
- [ ] Add test scripts in the `www/` directory (test sqlite for sure)
- [ ] Add options in settings.json file:
  - [ ] server ip address / port
  - [ ] www directory
  - [ ] log file and log severity
  - [ ] cache_path directory
  - [ ] command line switches
  - [ ] remote debugging port
  - [ ] temp dir
  - [ ] 404_handler for pretty urls
  - [ ]

[2018-12-02 14:42] cztomczak commented on #221
Fixed `php-cgi` processes hanging in commit 3a56b93.

[2018-12-02 14:44] cztomczak opened #235 "Windows: Use mongoose.c from Linux branch as it better handles termination of CGI processes"
Implemented `waitpid` for Windows in commit 3a56b93.

[2018-12-02 14:56] cztomczak commented on #221
Updated the [linux-v70.0](https://github.com/cztomczak/phpdesktop/releases/tag/linux-v70.0) release page with new v70.1 binaries. I will be updating that release continuously until we have a stable release and then I will make a new final release.

[2018-12-02 15:18] cztomczak commented on #221
I've posted about the release on reddit's `/r/PHP` and there is a considerable interest:
https://www.reddit.com/r/PHP/comments/a27c2w/php_desktop_for_linux_v700_released_early_testing/

[2018-12-02 17:34] cztomczak commented on #221
I've just tested on Fedora 25 - works out of the box. Should also work on Debian and OpenSUSE.

[2018-12-03 07:04] cztomczak opened #236 "Enable "enable-media-stream" and "enable-system-flash" flags by default in settings.json"
So that WebRTC audio/video (webcam) and Flash (PPAPI installed system-wide) work out of the box.

[2018-12-03 11:34] cztomczak opened #237 "Handle http 422 error code properly"
Reported on the Forum:
https://groups.google.com/d/topic/phpdesktop/RcB3q2uiwGc/discussion

[2018-12-04 01:45] antonismixail opened #238 "Spell Check Lang."
Please read this:
Hey there, Amazing your app.

I got an issue, I want to enable a different lang spell check but I can't.

Maybe I don't understand completly the  "command_line_switches".

Specific I want to add the spell check service for the el lang.

[2018-12-04 01:50] antonismixail commented on #225
<a href="/Yo.pdf" download>

[2018-12-04 01:51] antonismixail commented on #225
`<a href="yo.pdf" download>`

[2018-12-04 13:08] peterMaquiran opened #239 "No php socket support"
Please read this:
1. Do not create Issues to report problems and/or ask questions. Use the Forum for that.
2. Before creating an Issue it must first be discussed and confirmed on the Forum.
3. Always use the Forum: https://groups.google.com/d/forum/phpdesktop

[2018-12-04 13:15] cztomczak commented on #239
Websockets are supported in latest CEF version. The Linux release includes the latest CEF v70.

[2018-12-04 15:31] cztomczak commented on #238
See here: https://github.com/cztomczak/cefpython/issues/274
Please ask questions on the Forum.

[2018-12-04 15:31] #238 closed

[2018-12-04 16:59] hitsfromdabong commented on #208
Just started working on this. This is what I did:
[code]
These are the build instructions for Linux basically. However, I suspect an error in the second and third last lines; the compiler complained. I added last line to fix this.

Then I fiddled a little with the Makefile till most error were gone. However, my problem right now is to link CEF. The `-lcef` flag raises an error. Any advice? Sorry,

[2018-12-04 17:04] cztomczak commented on #208
@hitsfromdabong This issue is about funding the feature. What you try to do is not supported.

[2018-12-04 20:41] hitsfromdabong commented on #208
Sorry for posting in the wrong thread.

I know that what I was trying to do is not supported. That's why I did it, and why I asked questions about my failure.

Do you not want a Mac port? What is the funding for then? Not that I'd like to claim it at all, I'm just looking for a project to learn something.

What is the appropriate place to ask my question?

[2018-12-05 08:11] antonismixail opened #240 "Remove window border"
Please read this:
1. Do not create Issues to report problems and/or ask questions. Use the Forum for that.
2. Before creating an Issue it must first be discussed and confirmed on the Forum.
3. Always use the Forum: https://groups.google.com/d/forum/phpdesktop

[2018-12-06 21:24] phpengine commented on #221
Hey @cztomczak , works really well so far, thanks! Now that I have dropped a couple of apps into a www folder locally, I've got a much better idea of bits we might want: like the mentioned default size, developer tools, and ideally a way to wrap it all into a single .run file or something so a user can download a file they can run without extracting. Where would I put those ideas? Thanks again

[2018-12-06 22:05] cztomczak commented on #221
@phpengine That's good. The size, devtools - that will be done. The old standard on Linux to wrap applications is to create a package (an installer): .deb on Debian/Ubuntu, .rpm on Fedora/CentOS/RedHat/OpenSuse. It can be hard, but that's how it is done for most of the packages that are installed on your Linux. As for other modern ways of distributing app you can try:

1. AppImage - single file ap

[2018-12-07 14:15] phpengine commented on #221
Ah great, actually, making something that will integrate one of the above solutions, in a repeatable, publishable manner will be well within scope for me, as I make DevOps tools. Thanks for the advice in approach and I agree that it is out of scope for packaging to be part of the PHP Desktop project itself. As an FYI, I like the AppImage approach as it looks like could offer a single executable ac

[2018-12-09 09:31] cztomczak commented on #183
Master branch is Chrome v57 for Windows.

[2018-12-09 23:32] phpengine commented on #221
And if possible, could the Developer Tools functionality be nearer the top of the list, or is there a way I can turn those on for myself during development with a flag somewhere? Thanks

[2018-12-10 04:45] cztomczak commented on #221
@phpengine Yes, Selenium is supported, see (example Java code):
https://bitbucket.org/chromiumembedded/cef/wiki/UsingChromeDriver

To enable DevTools run with the command `./phpdesktop --remote-debugging-port=1234` and then open http://127.0.0.1:1234/ url in external Google Chrome browser.

[2018-12-10 09:49] cztomczak commented on #221
@phpengine You can also interact with DevTools using this PHP library:
https://github.com/jakubkulhan/chrome-devtools-protocol

[2018-12-15 23:11] mattpass commented on #221
@cztomczak I think some crucial info re Chromium 70.x
https://www.zdnet.com/article/sqlite-bug-impacts-thousands-of-apps-including-all-chromium-based-browsers/

[2018-12-16 09:15] cztomczak commented on #221
@mattpass I will update to v71 which is already available on Spotify builds.

[2019-01-22 11:50] HakunaMatata1209 opened #241 "need editable text/json file which shows file contents on exe open"
Please read this:
1. Do not create Issues to report problems and/or ask questions. Use the Forum for that.
2. Before creating an Issue it must first be discussed and confirmed on the Forum.
3. Always use the Forum: https://groups.google.com/d/forum/phpdesktop

[2019-01-29 10:06] cztomczak commented on #221
Sorry for the delay guys, I was sick and all my work was delayed.

[2019-01-29 10:11] mattpass commented on #221
@cztomczak no worries, hope you're feeling better now? I'll be happy to test it when more evolved and you feel it's in a good position for testing.

[2019-01-29 10:16] cztomczak commented on #221
Yes, I'm much better, but now I need to catch up with this and all the other delayed work. The hardest part on phpdesktop for Linux was done, I just need to finish it.

[2019-02-02 12:33] phpengine commented on #221
Ah indeed, rest is important. Good to hear you're feeling better too

[2019-02-03 00:31] cztomczak commented on #221
New release `70.2` is available for download:
https://github.com/cztomczak/phpdesktop/releases/tag/linux-v70.0

Commit e290e06 adds:
* Support for configuration via settings.json file. A few options supported at the moment: app icon, window title, window size, center on screen.
* Embedding via GTK API
* Handles termination signals SIGINT, SIGTERM (ctrl+c via keyboard)
* Mysqli and Postgresql exten

[2019-02-03 09:37] phpengine commented on #221
Great news, I'll update today, thanks (y)

[2019-02-03 11:41] cztomczak opened #242 "$_ENV["SERVER_ADDR"] is not set"
Only `$_ENV["SERVER_NAME"] is set.

[2019-02-03 11:45] cztomczak commented on #242
Fixed on Linux in commit d66ef75.

[2019-02-03 13:05] cztomczak commented on #221
Commits d66ef75 and 170d7c3:
- Fix `$_ENV["SERVER_ADDR"]` not being set
- Fix keyboard issues. Keyboard didn't work at all after migrating to GTK based embedding.
- Add scripts in the www/ directory. Still not working: dialogs.php (alert, print, file dialog) , downloads.php, cookies.php (not persisted on app relaunch), temp_dir.php (web_server.cgi_temp_dir option still missing), upload.php (not te

[2019-02-03 19:39] cztomczak commented on #221
Commits 648ac50, f30b4a0 and 16448d1 added lots of new options. Currently all options from the settings.json file below are supported:

[code]

[2019-02-03 20:33] cztomczak commented on #236
These options are already enabled on Linux.

[2019-02-03 22:07] cztomczak commented on #221
Release **72.0** is available for download. Updated to latest **Chrome/72.0.3626.81**. Please test.
https://github.com/cztomczak/phpdesktop/releases/tag/linux-v70.0

I think this release is now feature complete as per the "initial release" discussed in this issue. All important features are working. Please test and if everything works well I will make a final official release in a week or so.

[2019-02-05 12:46] ZanderBrown commented on #221
I really don't understand why you using X and Gtk2

[2019-02-05 13:35] phpengine commented on #221
Hey @cztomczak , all looks good so far - thanks very much. A couple of questions/points on the settings.json file please.
1) When I hover over the application icon in the Ubuntu taskbar, it shows Phpdesktop, as opposed to the main window > title value.
2) What value should I put in GUID? A long random number?

[2019-02-05 14:12] cztomczak commented on #221
@ZanderBrown Is that a question?

@phpengine
1. Title in taskbar works fine for me. Can you provide a screenshot and more details on your environment? Ubuntu 14.04 with default window manager in my case.
2. A random id, see https://www.google.com/search?q=guid . App creates `/tmp/{guid}.pid` file based on guid, so any chars that can be used as filenames are fine.

[2019-02-05 15:16] phpengine commented on #221
@cztomczak
1) https://gist.github.com/phpengine/99032bc4b485184cc8f0c66ea84e2cd9 Image is shown in the above Gist, I'm using Ubuntu 17.10. I'll try on 18.10 and let you know how that goes.
2) Cheers, I'll do that today

[2019-02-05 15:18] phpengine commented on #221
Hi @cztomczak , for the size of the window, is there a way to specify a percentage of the screen size instead of a fixed pixel value, so it fits on differently sized screens?
``
"default_size": [800, 600]``

[2019-02-05 15:36] cztomczak commented on #221
@phpengine
It seems that your window manager takes app title in taskbar from executable's name. Just rename "phpdesktop" executable and taskbar title will change accordingly. If you package app and create shortcut for app then you can customize taskbar more.

Regarding percentage of the screen. No, such feature is not available. For now just guess the best size that fits content in your app and ma

[2019-02-05 15:56] cztomczak commented on #221
@phpengine If you package app in a way that uses custom scripting then you can customize settings.json during initial installation of your program.

[2019-02-05 21:39] ZanderBrown commented on #221
@cztomczak kinda?

You seem to have made a backwards step without really explaining why

My (very brief) look at the commit didn't reveal anything hence my statement

*Disclaimer: I am a member of the GNOME Foundation and know those responsible for Gtk*

[2019-02-05 22:47] cztomczak commented on #221
@ZanderBrown Are you having any specific issues with GTK 2 in phpdesktop? Or is it GTK in general? Upstream CEF depends on X11, so you can't get rid of that. Upstream CEF sample application cefclient which is best tested for most features is written using GTK 2. I've copied code that handles dialogs (js, print, file) from cefclient, so it is based on GTK 2 and reusing that code saved me much time.

[2019-02-05 23:01] cztomczak commented on #221
Upstream CEF currently depends on X11, although there are plans to support other alternatives in the future.

[2019-02-06 16:10] ZanderBrown commented on #221
I have no issue with Gtk, quite the opposite

There isn't *that* much variation between Gtk2 & 3 for what you seem to be doing but using 2 means your starting a new product based on deprecated technology with no support for HiDPI or Wayland (amongst other things)

Whilst it's true upstream CEF does force you to have an indirect dep on X there is no reason for you to use it downstream rather than u

[2019-02-06 16:24] phpengine commented on #221
In regards to further development, I'll probably put together a list of bits of bits I'd like or need to use, and then maybe use that as a baseline for all three OS versions. I'll spend a few days on that, and probably just list those things here.

[2019-02-06 16:39] phpengine commented on #221
In regards to what @ZanderBrown mentioned, I don't know how enough about the internals of what's being built to be able to comment as yet, so if its necessary or beneficial enough then it could go on to that list or be looked at for future?

[2019-02-06 20:26] cztomczak commented on #221
@ZanderBrown The only thing that forces GTK 2 in phpdesktop is the dialogs (js, print, file). I was very clear in this issue that the goal was to make phpdesktop just work on Linux with its initial release, not to make it perfect. The resources (money) are limited. Pull requests to upgrade this code to GTK 3 are welcome.

@phpengine Sure, make a list and we can discuss it.

[2019-02-06 20:30] cztomczak commented on #221
@ZanderBrown Personally I don't like the tone of your comments. I don't see you contributing to this funding or the project, so I don't understand the basis for your pretentions.

[2019-02-06 21:43] waelabohamza commented on #167
Print does not work in a program What is the solution I can use the latest version

[2019-02-08 22:57] reinaldoacosta opened #243 "JavaScript file Path"
For those planning doing bigger operations with this, there's a reason why I abandoned this thing, in Electron you have the option to open a file from the file system, for those of you that know Javascript, you guys should know that in javascript you cannot access for example a javascript absolute path, if I'm not mistaken you get something like C:\fakepath\file.png <-- and you can use this with t

[2019-02-09 01:22] oneinazillion commented on #243
In PHP  ` "$_SERVER[DOCUMENT_ROOT]" ` gives you the actual path of the 'www' folder  :
` "$_SERVER[DOCUMENT_ROOT]" . "/path/to/your/resource/" `

In Electron, ` __dirname ` has the same effect :
` __dirname + "/path/to/your/resource/" `

[2019-02-09 01:30] oneinazillion commented on #243
Also, I love phpdesktop! It gives you the easiest and most versatile way of implementing your PHP project in a desktop environment. My only problem with it is that it's very slow to read and write SQLite data when compared to third party node packages for the same in Electron. "better-sqlite3" is an npm package that reads and writes magnitudes faster than PHP 7.

[2019-02-09 04:24] reinaldoacosta commented on #243
I think you did not understand, what I'd like to get is the path of a file gotten through a file input in the browser view.

[2019-02-09 06:48] cztomczak commented on #243
What you're trying to achieve is possible with PHP Desktop and it is quite easy. In PHP Desktop you have full access to the filesystem in PHP scripts and you can replace the native "Choose file" dialog with your own custom implementation using PHP and js/jquery scripting. You could reuse or base your code on some existing PHP library that allows you to browse files, see: https://www.google.com/sea

[2019-02-09 06:48] #243 closed

[2019-02-09 13:21] ZanderBrown commented on #221
I can give it a go I guess, currently failing to build using your instructions though

`ninja cefclient` fails with a load of `error: ‘cfi-icall’ attribute directive ignored [-Werror=attributes]` (`cef_binary_3.3538.1852.gcb937fc_linux64` / `g++ (GCC) 8.2.1 20181215 (Red Hat 8.2.1-6)`)

Sure but I've used it in the past

As previously state I am associated with the upstream for some of the technol

[2019-02-09 13:39] cztomczak commented on #221
@ZanderBrown Please report build problems on the Forum. Here are my versions of tools:
[code]

[2019-02-11 10:36] cztomczak commented on #221
I did a new release [PHP Desktop v72.1 for Linux](https://github.com/cztomczak/phpdesktop/releases/tag/linux-v72.0) a few days ago. I've posted a news about it on reddit, so quite a few people already tested it and everything is working fine.

It's time to close this issue.

@phpengine When you have a list of new tasks ready, please send me an email and we can discuss it there.

[2019-02-11 10:36] #221 closed

[2019-02-11 10:44] cztomczak commented on #221
@phpengine I have submitted a claim for the bounty on bountysource. It says that two users need to approve this. It seems you have backed it using two different accounts.

[2019-02-12 18:18] phpengine commented on #221
@cztomczak , apologies for the delay there, I'm about to release the bounty. All the bits I've checked worked fine so far. I've fully ported over the first electron app. If anything minor or missed comes up, can I add it here for you? As mentioned before, I'm still working on that list of new bits. Thanks, look forward to working with you again or the OSx and Windows versions!

[2019-02-12 18:21] phpengine commented on #221
@cztomczak Payment released

[2019-02-12 21:42] cztomczak commented on #221
@phpengine Thank you. It's all fine. For new tasks I guess we can talk via email and then create new issues in the tracker for these tasks.

[2019-02-15 22:23] ipimpat opened #244 "Html select tag option menu is not positioned underneath"
PHP Desktop version: 72.1
OS: Linux Mint 19 Tara/Cinnamon 3.8.9

The option menu does not position it self underneath the select field, when clicking it.

Instead it opens outside the window:

![screenshot](https://i.imgur.com/3xh9FHv.png)

[2019-02-15 22:54] cztomczak commented on #244
It's an issue in upstream CEF. The solution for now is to replace these `<select>` elements with javascript based alternatives. There are libraries that can replace all `<select>` elements on a page automatically and thus fix the problem. Try this search: https://www.google.com/search?q=jquery+select+replacement .

[2019-02-25 12:58] cztomczak commented on #209
The solution for now is to use javascript based alternatives for these missing features.

[2019-03-04 15:59] ipimpat opened #245 "Linux: window can be resized to only a few pixels"
On Windows there is a lower limit on how small you can resize a window, but not in Linux, so the you can resize the window to only a few pixels.

![screenshot](https://user-images.githubusercontent.com/450038/53745172-c907d780-3e9e-11e9-92e5-c571ae2011a7.png)

Discussion: https://groups.google.com/forum/#!topic/phpdesktop/9hqVnsAXHWM

[2019-03-19 18:39] martin-tichy opened #246 "Access to local resources"
Hello, can you help me with acces to local reseources?

For example I want glob my images outside of www folder. PHP has access but chrome not show this images.

Thanks for your answer.
Martin

[2019-03-19 20:58] cztomczak commented on #246
Please ask questions either on the forum or on stackoverflow tagged 'phpdesktop'.

[2019-03-19 20:58] #246 closed

[2019-03-20 14:53] nguyenvancaoky opened #247 "Can't Ussing Curl with phpdesktop ?"
Simple Code :

[code]

nothing output, I was wrong ?

[2019-03-20 15:26] cztomczak commented on #247
Please ask questions either on the forum or on stackoverflow tagged 'phpdesktop'.

[2019-03-20 15:26] #247 closed

[2019-03-22 12:25] Leandro-Reis opened #248 "Can you release mongoose as a separate app?"
Testing PhpDesktop i realise that it doesn't open a firewall window as apache. It would be nice if you also offered your mongoose version as a separate application for projects that only need the server.

![Image](http://www.leftycoder.com/wp-content/uploads/2014/03/XAMPPFirewallMessageOnStart.jpg)

[2019-03-22 12:28] cztomczak commented on #248
Please ask questions on the forum or on stackoverflow tagged 'phpdesktop'.

[2019-03-22 12:28] #248 closed

[2019-04-03 15:11] benyaminl commented on #227
@cztomczak Maybe need some time. Does bounty source cost administration fee for funding?

[2019-04-03 19:14] cztomczak commented on #227
@benyaminl There is also a Paypal button on the project's homepage if you would like to support the project using a different payment method.

Bountysource takes 10% fee for money withdrawal + another 3% hidden fee exchange rate by Paypal.

[2019-04-17 07:12] cztomczak commented on #227
Michael Yu contributed $50 through Paypal for the new Windows release.

I have updated the issue explaining that you can make up for the goal using both Bountysource and Paypal platforms.

[2019-04-17 07:17] cztomczak commented on #208
I have updated the issue explaining that you can make up for the goal using both Bountysource and Paypal platforms.

[2019-04-18 08:31] cztomczak commented on #227
Davide Pozzer contributed $20 through Paypal.

[2019-04-25 18:51] mikemania commented on #225
I have the opposite problem. Originally it worked fine, but all of a sudden PDF links go straight to the download dialog. I'm using js to open a new window to a fpdf generated pdf.

[2019-05-10 21:34] Umarnisar opened #249 "Cannot send session cache limiter"
Every thing is fine but showing this error bellow.

**Warning: session_start(): Cannot send session cache limiter - headers already sent (output started at E:\phpdesktop-chrome-57.0-rc-php-7.1.3\www\sims\includes\load.php:2) in E:\phpdesktop-chrome-57.0-rc-php-7.1.3\www\sims\includes\load.php on line 3**

this code is running fine on XAMPP Server

[2019-05-10 22:06] cztomczak commented on #249
The error message is self explanatory and tells you where to look to resolve the issue. This is an issue with PHP and you should ask for help on a general PHP forum.

[2019-05-10 22:06] #249 closed

[2019-05-17 14:15] cztomczak opened #250 "Openssl support in PHP binaries on Linux"
When running Laravel application on Linux you get this error:
[code]

It is caused because openssl support is missing.

[2019-05-17 14:29] cztomczak commented on #250
Commits 60520b83fe1fbccd1a074d28d9befbbf787c8494 and 53c27e3 add openssl support in the `build-php-with-ext.sh` script.

To resolve the issue with current phpdesktop 72.1 binaries you have to run the `build-php-with-ext.sh` script to build PHP with openssl support and then replace the PHP binaries in your phpdesktop folder:
1. Copy "build/bin/php-cgi-with-ext" binary to the "phpdesktop/" directory

[2019-05-17 14:29] #250 closed

[2019-06-14 08:28] Flokyofficial commented on #227
I hope you'll keep supporting this awesome project. because it's gonna change how PHP ecosystem work.
actually, it's similar to electron js ( framework for node js to build desktop application using node js).
it's a popular and useful, same as your project . do you have a patreon page where I can help?

[2019-06-14 09:49] cztomczak commented on #227
@Flokyofficial Currently you can support the project only through Paypal and Bountysource.

[2019-06-18 17:32] ajayreddy28390 opened #251 "Cannot spawn CGI process : Any fix ?"
Questions should be asked on the forum:
https://groups.google.com/d/forum/phpdesktop

with phpdesktop-chrome-57.0-rc-php-7.1.3

Error 500: Internal Server Error
Cannot spawn CGI process [C:\student\www/index.php]: No such device or address

Debug output:
- 13:16:43.047 INFO: Started application
- 13:16:43.047 INFO: Logging to: C:\student\debug.log
- 13:16:43.047 INFO: Log level = DEBUG4
- 13:16:43

[2019-06-19 06:04] cztomczak commented on #251
What OS? Does it work if you run original phpdesktop binaries not modified in any way? (no changes to configuration or www/ directory or anything).

[2019-06-19 10:40] ajayreddy28390 commented on #251
Win 10
It works for me over phpdesktop but mariadb SQL unable to connect.

My goal is to get executable file for php/mysql website.

On Wed, Jun 19, 2019, 2:04 AM Czarek Tomczak <notifications@github.com>
wrote:

[2019-06-19 11:37] cztomczak commented on #251
Please ask questions on the forum.

Check if binary files are not missing (php/php-cgi.exe). Also check if PHP startups successfully, see:
https://github.com/cztomczak/phpdesktop/wiki/Knowledge-Base#problem-running-php-script

[2019-06-19 11:37] #251 closed

[2019-07-13 09:23] icy2003 opened #252 "how can I let everyone in a LAN use my app"
[code]
this is my config for now, but my LAN ip always change, I tried '0.0.0.0' but no use……

[2019-07-13 09:25] cztomczak commented on #252
You would have to configure your LAN ip to be fixed and then use that ip in phpdesktop settings.

[2019-07-13 09:25] #252 closed

[2019-07-13 09:27] cztomczak commented on #252
Actually you can set ip address to "*" and it will listen on all ip addresses. See documentation:
https://github.com/cztomczak/phpdesktop/wiki/Settings#listen_on

[2019-07-13 09:32] icy2003 commented on #252
@cztomczak it works thank you

[2019-07-14 16:17] conan1154 commented on #227
I've managed to make phpdesktop work with the recent cef  32bit (06/20/2019 - CEF 75.0.11+gf50b3c2+chromium-75.0.3770.100 / Chromium 75.0.3770.100).

I just changed several function's parameters, and it works magically. I can help if anyone need this. I just don't know how to contribute to this project.

[2019-07-14 16:28] oleteacher commented on #227
@conan1154 Love to give it a try. Maybe setup on GitHub or download link? Have interest to try in classroom project.

[2019-07-14 17:17] cztomczak commented on #227
@conan1154 This issue is about funding which is more than just updating Chromium engine. It's about making a release and providing support for it long term. I also plan to implement new features. Unfortunately I don't have time to do it for free. You are free to fork the project, but please continue these discussions elsewhere. Thank you.

[2019-07-14 20:02] oleteacher commented on #227
Sorry @cztomczak. Did not pay attention to issue title, you are correct. Was just excited as using phpdesktop in classroom.

[2019-07-17 23:03] phpengine commented on #208
Hey @cztomczak , I added $400 a couple of days ago, and as an FYI i intend to complete the rest of it this month, if that's okay and you'll be available. Thanks, phpengine

[2019-07-18 05:16] cztomczak commented on #208
@phpengine Thank you for the continued support for the project, it's appreciated. I have updated issue title and README with the current status of the funding. Yes, I'm available for work and I can work on it when it's funded.

[2019-07-18 05:45] cztomczak opened #253 "Linux: Support building PHP with curl extension"
Issue reported by @phpengine on the forum:
https://groups.google.com/d/topic/phpdesktop/pXhpQ72KHgA/discussion

[2019-07-18 05:47] cztomczak commented on #253
Done in rev dea1e23.

[2019-07-18 05:47] #253 closed

[2019-08-06 11:05] paramesharobit opened #254 "Limitation of Phpdesktop"
Can we develop screen recording, audio, video recording using this platform? Please let me know if it is possible or not so that I may proceed further.

[2019-08-06 11:27] cztomczak commented on #254
To enable WebRTC features (microphone/camera recording, screen capturing) pass the `--enable-media-stream` switch. See the ChromSettings wiki page.

[2019-08-06 11:27] #254 closed

[2019-08-06 11:28] cztomczak commented on #254
Note that currently PHP Desktop embeds Chrome v57 on Windows and Chrome v72 on Linux. So any limitations of Chrome version apply.

[2019-08-06 14:33] paramesharobit commented on #254
Thank you very much @cztomczak for your reply. But how user can enable chrome extension inside the desktop application ? Because screen capture will not work except if we use webrtc.

[2019-08-06 15:05] cztomczak commented on #254
Extensions support is limited. Extensions and WebRTC are two different things. I suggest you find some tutorials on the web.

[2019-08-07 11:02] #118 closed

[2019-08-07 11:05] cztomczak opened #255 "Support for desktop notifications"
Add example of using JailNotify PHP library to display desktop notification. With this library you can send desktop notifications directly from your PHP script, see: https://github.com/jolicode/JoliNotif

Html5 Notifications API is not supported by CEF which PHP Desktop uses to embed Chrome browser.

In the future we may add native support for desktop notifications and expose such API through `win

[2019-08-08 08:23] anupambd94 opened #256 "Disable the close button or minimize in system tray on close button click"
Questions should be asked on the forum:
https://groups.google.com/d/forum/phpdesktop

I want to minimize in the system tray the software built with PHP Desktop Chrome when the close button is pressed. I do not want to allow to close the main window. Is there any way to do that so?
if not then i want to hide or disable the close button as like we can easily disable the maximize button in PHP Deskto

[2019-08-08 13:47] Jalpa-Ahalpara opened #257 "Cmake Error: Cmake was unable to find a build program corresponding to "Ninja". CMAKE_MAKE_PRGORAM is not set"
Questions should be asked on the forum:
https://groups.google.com/d/forum/phpdesktop

I get error for perform Build cefclient and copy CEF files to phpdesktop
after step 4 when run command of step 5 (Execute cmake -G "Ninja" -DCMAKE_BUILD_TYPE=Release -DUSE_SANDBOX=OFF ..)

I use visual studio 2015
c++

get this error
CMake Error: CMake was unable to find a build program corresponding to "Ninja".

[2019-08-08 14:14] cztomczak commented on #257
You have to read carefully the build instructions and follow all of the instructions. You have to download ninja program and put it in PATH.

[2019-08-08 14:14] #257 closed

[2019-08-09 05:03] Jalpa-Ahalpara commented on #257
Thank you !! sir For Replay
I was download ninja.exe from [https://github.com/ninja-build/ninja/archive/v1.9.0.zip]
Than after create a build folder and put it on to in
and go to build/ directory (In CMD)and run "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\bin\vcvars32.bat" this command it run successfully than after run "cmake -G "Ninja" -DCMAKE_BUILD_TYPE=Release -DUSE_SANDBOX=OFF .."

[2019-08-09 09:45] Jalpa-Ahalpara commented on #257
-- The C compiler identification is unknown
-- The CXX compiler identification is unknown
CMake Error at CMakeLists.txt:120 (project):
  No CMAKE_C_COMPILER could be found.

  Tell CMake where to find the compiler by setting either the environment
  variable "CC" or the CMake cache entry CMAKE_C_COMPILER to the full path to
  the compiler, or to the compiler name if it is in the PATH.

CMake Error

[2019-08-09 12:48] Jalpa-Ahalpara opened #258 "Mismatch detected for 'RuntimeLibrary'"
Questions should be asked on the forum:
https://groups.google.com/d/forum/phpdesktop

LNK2038	mismatch detected for 'RuntimeLibrary': value 'MT_StaticRelease' doesn't match value 'MTd_StaticDebug' in app.obj	phpdesktop-chrome

[2019-08-09 13:44] cztomczak commented on #258
You have to read carefully the build instructions and follow all of the instructions exactly as told. Looks like you're mixing Release and Debug configurations or using incompatible Visual Studio version.

[2019-08-09 13:44] #258 closed

[2019-08-11 11:42] ReiPsalm opened #259 "Enable Speech sythesis"
Questions should be asked on the forum:
https://groups.google.com/d/forum/phpdesktop

is there any way, i could Enable Speech synthesis on phpdesktop? or is there any plugins you can suggest to get this done somehow? i was wondering if any updates will be added, i hope speech synthesis will be one of it, thanks! and Cheers!

[2019-08-11 14:46] cztomczak commented on #259
Pass the `--enable-speech-input` switch and enable Google API keys. Note that there is a limit of 50 queries per day.

[2019-08-11 14:46] #259 closed

[2019-08-12 12:35] Jalpa-Ahalpara opened #260 "Error MSB3073:VCEnd existed with code 1"
Questions should be asked on the forum:
https://groups.google.com/d/forum/phpdesktop

The system cannot find the file specified.
          0 file(s) copied.
C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\V140\Microsoft.CppCommon.targets(123,5): error MSB3073: The command "copy /y "C:\Users\harsh\OneDrive\Desktop\Jalpa\phpdesktop-master\src\settings.json" "C:\Users\harsh\OneDrive\Desktop\Jalpa\p

[2019-08-12 12:58] cztomczak commented on #260
Please stop creating any more issues. You have to choose Release configuration as instructions say.

[2019-08-12 12:58] #260 closed

[2019-08-20 07:08] mathewberry commented on #227
Is there any date planned for production to begin on the new Chrome v75 version, or just as soon as you hit $2,000?

[2019-08-20 07:38] cztomczak commented on #227
@mathewberry Thank you for the donation. After the goal is hit the release should be ready within a month. An early release will appear sooner.

[2019-08-20 17:22] cztomczak opened #261 "Linux: enable zlib extension"

[2019-08-20 17:23] cztomczak commented on #261
You can download PHP with zlib support from here: https://github.com/cztomczak/phpdesktop/releases/tag/linux-v72.0

[2019-08-20 17:23] #261 closed

[2019-08-21 06:07] tooshort26 opened #262 "Laravel Ajax Put Method Returning 401"
I'm getting 401 unauthorized each time I request using PUT method with Ajax.

![image](https://user-images.githubusercontent.com/54329064/63406721-47404200-c41d-11e9-81ad-a7cc85082845.png)

[2019-08-21 06:42] cztomczak commented on #262
Not supported. Duplicated of #140.

[2019-08-21 06:42] #262 closed

[2019-08-21 07:24] tooshort26 commented on #262
Thanks!

[2019-08-22 05:41] cztomczak commented on #256
Such feature is not supported. Related: #26, #31, #95.

[2019-08-22 05:41] #256 closed

[2019-09-06 06:36] cztomczak commented on #227
Thanks to Marcus Hogins for the $25 donation.

[2019-10-04 00:58] ismaelit opened #264 "Support for mbstring"
Please add support for mbstring, to enable functions like
- mb_detect_encoding()
- mb_strlen()
- mb_substr()

As required in escpos project by Mike42, to enable communication and printing on thermal printers.

[2019-10-04 01:03] ismaelit commented on #264
Done, just add:
extension=php_mbstring.dll
to php.ini

[2019-10-04 01:03] #264 closed

[2019-10-18 22:50] nurky opened #265 "HTA + PHP?"
I have downloaded the MSIE Minimal build and HTA does not seem to work there, is there a flag to force a behavior like this? I used to make great looking apps using HTA as frontend (HTML,CSS,JS) and PHP as backend (posts, images, videos, messages, etc)

PHPDesktop MSIE:
![image](https://user-images.githubusercontent.com/55628546/67132886-9e3e7980-f20a-11e9-9163-26a4dfc900e0.png)

Actual HTA:
![ima

[2019-10-19 05:50] cztomczak commented on #265
Does HTA work if you run it from inside IE browser? See https://github.com/cztomczak/phpdesktop/wiki/MSIE-engine

[2019-10-19 05:51] cztomczak commented on #265
What OS and MSIE version? Check MSIE version using javascript in phpdesktop.

[2019-10-19 13:06] nurky commented on #265
OS: Latest Windows 10 (Version 1903 - Build 18362.418)
MSIE: Internet Explorer (Version 11.418.18362.0)

Thing is that for HTA Apps to work the filename needs to have an extension of ".hta"
The process responsible for running HTA files is mshta.exe (Microsoft HTML Application)

I imagined that loading such file inside PHP-MSIE would work but I think the application does not have the same inner wor

[2019-10-19 13:33] cztomczak commented on #265
Did you answer my question? Does HTA work if you run it from inside IE browser? If not then it's not possible to run it inside phpdesktop browser either, not without modifications in C++ code.

[2019-10-19 14:29] nurky commented on #265
I've used PHP to pass the header Content-Type to be application/hta for which MSIE asks me if I want to open the application or not, upon opening the PHP code is executed as If I redirected to the program by default using HTA, but the problem now is how to get rid of the HTA app prompt, there has to be some flag inside the PHP-MSIE code that disables these security levels and brings them down to t

[2019-10-19 14:33] nurky commented on #265
Or make an alternative application which starts the PHP server and then opens the HTA pointing to the web site of that server.

[2019-10-19 14:42] cztomczak commented on #265
An HTA is executed using the program mshta.exe. MSIE browser control which PHP Desktop MSIE embeds doesn't support HTA. There are no plans to support HTA.

[2019-10-19 14:42] #265 closed

[2019-10-21 18:31] kechankrisna opened #266 "Can't access route from another computer"
I tested and love it but one thing that I can not figure out is that, When I run my application, it seems like I have no way to allow other computer to get access into my local server. Example, I run this application as the restful api while have no internet connect but local network works fine then I want other computers still be able to access this restful api. Thank you in advance.

[2019-10-22 09:23] mathewberry commented on #266
In your `settings.json` file you can set the web server `listen_on` to `["*", 0]` which will allow you to access your API from any IP address.

I find it best to use a specific port aswell `["*", 53154]`, then you can open the CMD, type `ipconfig` and find your Default Gateway (e.g. `192.168.32.3`)
[https://github.com/cztomczak/phpdesktop/wiki/Settings#web_server](https://github.com/cztomczak/phpd

[2019-10-22 21:56] kechankrisna commented on #266
Thank you, it works fine now.

[2019-11-05 19:51] bunny-poooh opened #267 "Can't work with csrf token with symfony 4"
Questions should be asked on the forum:
https://groups.google.com/d/forum/phpdesktop

[2019-12-13 07:45] algermakiputin opened #268 "the application was unable to start correctly 0xc00005"
I am getting this error "the application was unable to start correctly 0xc00005" on a windows 7 machine, it's working fine during first open, but when i closed the program and reopen it, the error occurs.

[2019-12-13 08:01] #267 closed

[2019-12-13 08:01] #266 closed

[2019-12-13 08:02] cztomczak commented on #268
Try disabling Anti-virus software and see if it helps. There might be something broken on your system, a malware or a virus issue. Try running on another computer.

[2019-12-15 18:22] bmanolov opened #269 "No keyboard input (v72.1 for Linux / Debian 9 Stretch / KDE 5)"
_Initially posted in the [forum](https://groups.google.com/d/topic/phpdesktop/LA60tXfnJGg/discussion)_

----

I am testing the [linux-v72.0](https://github.com/cztomczak/phpdesktop/releases/tag/linux-v72.0) package without any modifications and it seems that the keyboard input is not working. I cannot type anything in the text fields in **forms.php**, nor can I scroll long pages using the keyboard

[2019-12-15 21:06] cztomczak commented on #269
Here is the [phpdesktop](https://github.com/cztomczak/phpdesktop/blob/aa97a32a50ccbce89b1733a8dfd195ad0b30d300/src/gtk.cpp#L15) and [cefclient](https://github.com/chromiumembedded/cef/blob/3626/tests/cefclient/browser/root_window_gtk.cc#L256) code for creating GTK window. It seems to me that removing the vbox container in GTK 2 might resolve the issue. Please change line 57 to "return window" and

[2019-12-16 17:08] bmanolov commented on #269
Ok, I've changed line 57 and compiled everything but the bug is still present.

[code]

[2019-12-17 14:17] cztomczak commented on #269
Does the issue reproduce on a clean OS? What OS version should I install in virtual machine to reproduce it?

[2019-12-17 19:10] bmanolov commented on #269
I was able to reproduce the bug on a clean install of Debian 10 in VirtualBox:

- ISO used: [netinst CD image for amd64](https://cdimage.debian.org/debian-cd/current/amd64/iso-cd/debian-10.2.0-amd64-netinst.iso)
- Desktop used: KDE Plasma
    - GTK2: libgtk2.0-0: 2.24.32-3
    - GTK3: libgtk-3-0: 3.24.5-1

[2020-01-01 08:14] rakucmr commented on #227
Maybe you can push your changes to this projects or provide a link with changes done by you

[2020-01-02 13:57] cztomczak commented on #269
I haven't yet tested it on Debian 10. Just wanted to add that other users report it works fine on Ubuntu 18 which is based on Debian 10 buster. Can you test using different desktop environment on Debian, for example with GNOME?

[2020-01-04 15:54] bmanolov commented on #269
:heavy_check_mark: Yes, I can confirm that there are no issues on Ubuntu 18.

----

:x: I have just tested it on a vanilla installation of Debian 10 with GNOME 3.30.2 and the results are negative: the keyboard input does not work. It was necessary to install GTK2 as it wasn't preinstalled.

[2020-01-04 17:41] cztomczak commented on #269
Other things to test:
1. Register "configure-event" event as in cefclient and call `NotifyMoveOrResizeStarted` during that event.
2. Add this line of code `ScopedGdkThreadsEnter scoped_gdk_threads;` before creating GTK window (declared in util_gtk.cpp / .h).
3. Register "size-allocate" event for vbox as in cefclient.
4. Test cefclient app with the `--hide-controls` flag.

[2020-01-04 22:01] bmanolov commented on #269
I haven't done the extra tests but I noticed something interesting about the cefclient that I built. On start it seems to be fine - I can type in the search form on the google page and I can scroll with the keyboard. But as soon I click in the address bar only the address bar gets the keyboard input:

1. I click in the address bar
2. I click somewhere in the page
3. I start typing and the input ap

[2020-01-04 22:06] bmanolov commented on #269
I just saw that you already filed a bug report about the issue that I mentioned (or something similar):

https://bitbucket.org/chromiumembedded/cef/issues/2026/multiple-major-keyboard-focus-issues-on

[2020-01-05 10:54] bmanolov commented on #269
I have executed the three steps but the bug was still present. I am not entirely sure though if I've done the things correctly so here are my changes:

<details>
<summary>Changes 1-3</summary>

[code]
</details>

As for step 4, I have executed the cefclient with the `--hide-controls` flag and in 40-50% of the cases the keyboard focus bug was present. I couldn't however find a definitive pattern. I

[2020-01-05 12:31] cztomczak commented on #269
Changes look good. But the problem is elsewhere since you can reproduce the issue in cefclient quite easily when controls are hidden.

The bitbucket issue provides information on resolving focus issues. It requires patching CEF and making changes to app code to handle focus-in-event, focus-out-event and grab-focus signals.
1. https://github.com/tiliado/cef/commit/b1d9e48101279ae08fd35a2e18c7dd0d34

[2020-01-05 12:38] cztomczak commented on #269
In focus-out-event signal don't call `XSetInputFocus` or any other functions.

[2020-01-05 12:43] cztomczak commented on #269
Or maybe it is required to call `XSetInputFocus(xdisplay, get_window_xid(widget), ...)` in "focus-out-event" signal.

[2020-01-09 03:54] tonitegarsahidi commented on #250
thanks @cztomczak ,
today I found the same issues when try to move my laravel 5.7 app to phpdesktop,
then found this thread.
after download the "php-cgi-with-ext" files, then update the "settings.json" as mentioned above, but then the error changes to
`"Error 500: Internal Server Error. CGI program sent malformed or too big (>16384 bytes) HTTP headers"
`no more error message mentioned on the brows

[2020-01-12 17:40] vipertecpro commented on #250
Alright I got this one, this was the issue i was facing
[code]
Resolved by download/installing https://packages.debian.org/jessie/amd64/libssl1.0.0

I'm running laravel Laravel Framework 6.10.1, here is the screenshot of it

![Screenshot from 2020-01-12 23-10-09](https://user-images.githubusercontent.com/11619188/72223010-bc5d1100-3590-11ea-97ef-2f6b8aba4d67.png)

[2020-01-12 17:46] vipertecpro commented on #250
I think what he meant is
1. Download [php-cgi-with-ext ](https://github.com/cztomczak/phpdesktop/releases/download/linux-v72.0/php-cgi-with-ext)
2. Open settings.json on the root
` "cgi_interpreter": "php-cgi-with-ext",`

Here is the screenshot
![Screenshot from 2020-01-12 23-15-01](https://user-images.githubusercontent.com/11619188/72223088-73598c80-3591-11ea-84e5-5e0c90e4219e.png)

[2020-01-14 13:27] Aiman-najeeb opened #270 "Update Chrome"
Please update chrome to a newer version

this version in windows is old and have some problems in rendering

it tried Vuetify but some things aren't rendering in the right way

so am waiting for the next versions of this project

[2020-01-14 13:58] cztomczak commented on #270
There is an ongoing funding to update Chrome to version 80, you can contribute by making a donation. See Issue #227.

[2020-01-14 13:58] #270 closed

[2020-01-14 14:01] cztomczak commented on #227
Thank you to Robert Dangl for the $11,50 donation.

[2020-01-14 14:01] cztomczak commented on #227
Thank you to Victorien Devaux for the $5,00 donation.

[2020-01-14 14:02] cztomczak commented on #227
Thank you to Silviu Doaga for the $5,00 donation.

[2020-01-14 14:08] cztomczak commented on #270
Every dollar counts. If only 10% of phpdesktop users would contribute just a few dollars we can easily make the goal.

[2020-01-22 02:36] mamamia5x opened #271 "iframe doesn't reset"
A file gets edited in my program, and you can see it through an iframe. But it won't reset unless the user right clicks and reloads.

[2020-01-22 09:23] cztomczak commented on #271
This is not actionable.

[2020-01-22 09:23] #271 closed

[2020-01-22 12:26] nickbe commented on #227
Just sent you a mail regarding this.

[2020-01-27 07:28] Aashik30 opened #272 "Without Printing Popup"
Questions should be asked on the forum:
https://groups.google.com/d/forum/phpdesktop

How to print without printing popup in js?
[Printlatest.zip](https://github.com/cztomczak/phpdesktop/files/4115914/Printlatest.zip)

[2020-01-27 08:47] Aashik30 commented on #272
Using javascript i just print html window using this js code( window.print()) everything working fine. But default print dialog is opened and need to click print button for printing. I don't want the print dialog. i need silent print. Any option There? Please share it to me.

[2020-01-27 09:19] cztomczak commented on #272
Such feature is not currently implemented. Please don't submit issues in the tracker.

[2020-01-27 16:13] nickbe opened #273 "Print does not do color prints"
When printing I can only print b/w but there's no option to print colors.
How can this be configured?

[2020-01-27 16:21] cztomczak commented on #273
This is not a valid bug report. Please ask questions on the forum and when doing so include information such as OS, PHP Desktop version and exact steps to reproduce the issue. When print dialog appears you should see print options. CSS on a web page can force grayscale for printing.

[2020-01-27 16:21] #273 closed

[2020-02-01 16:41] cztomczak commented on #250
Added "PHP on Linux doesn't support XXX extension" section on the Knowledge-Base wiki page: https://github.com/cztomczak/phpdesktop/wiki/Knowledge-Base#php-on-linux-doesnt-support-xxx-extension

[2020-02-01 16:41] cztomczak commented on #253
Added "PHP on Linux doesn't support XXX extension" section on the Knowledge-Base wiki page: https://github.com/cztomczak/phpdesktop/wiki/Knowledge-Base#php-on-linux-doesnt-support-xxx-extension

[2020-02-01 16:41] cztomczak commented on #261
Added "PHP on Linux doesn't support XXX extension" section on the Knowledge-Base wiki page: https://github.com/cztomczak/phpdesktop/wiki/Knowledge-Base#php-on-linux-doesnt-support-xxx-extension

[2020-02-03 03:29] izeblood opened #274 "SQLITE TO MYSQL"
What are the configuration needed if I already used MySQL or MariaDB database provided by XAMPP?

[2020-02-03 09:47] cztomczak commented on #274
Please ask questions on the forum.

[2020-02-03 09:47] #274 closed

[2020-02-08 04:11] ctf0 commented on #186
hi @cztomczak i've made an example based on the above to connect/disconnect mariadb on app start & shutdown but i have a couple of issues

- first: the `index.php`
[code]

- next `shutdown.php`
[code]

the issues i have
1. on start, the shows a white blank page, inspecting the body DOM shows its empty
2. the shutdown cmnd doesnt run

not sure if am missing something, so any help is appreiacted

[2020-02-08 13:01] ctf0 commented on #186
**update**

i think i've found the reason, what happens is that any process that runs through `phpdesktop` in our case `running the db` is considered a child of that process,
therefor even if we closed phpdesktop the `waitprocess` never runs because the db *child* process is still running, so only if we closed that one, the **waitprocess** cmnd will then run

[2020-02-27 02:25] Hanson commented on #186
@ctf0 hi, have you fix it? Can you provider a example ?

[2020-02-27 03:23] ctf0 commented on #186
@Hanson sadly no 😢

[2020-03-02 11:47] cztomczak commented on #227
Thank you to Alfarouq Alkhayari for $100 donation.

[2020-03-02 16:11] cztomczak commented on #227
Thank you to Davide Pozzer for the $25 donation.

[2020-03-09 16:20] cztomczak commented on #227
Thank you to Colin McMurchie for the $25 donation.

[2020-03-18 02:18] Darkhackit commented on #250
Also facing the same problem on windows
Please how do i solve it

[2020-03-18 02:43] Darkhackit commented on #250
Please am facing the same problem on windows

[2020-03-20 15:14] cztomczak commented on #227
Thank you to NetWerk for the $80 donation.

[2020-03-27 08:40] n-ice-ch commented on #232
The issue is related by the php.ini delivered by this great project.
Simply add those lines in your php.ini and the issues with php session handling are gone:
[code]

[2020-03-27 08:41] n-ice-ch commented on #249
The issue is related by the php.ini delivered by this great project.
Simply add those lines in your php.ini and the issues with php session handling are gone:
[code]

[2020-05-10 10:40] cztomczak commented on #227
Thank you to A Dougherty for the $10 donation.

[2020-05-15 10:17] ashu-ch opened #275 "'Call to undefined function openssl_cipher_iv_length()'"
'Call to undefined function openssl_cipher_iv_length()'
I'm getting this error I'm using 'PHP Desktop v72.1 for Linux release' for my laravel project to use it as desktop application

[2020-05-15 10:34] ashu-ch commented on #250
after replacing php-cgi with php-cgi-with-ext I'm getting this error

Error 500: Internal Server Error
CGI program sent malformed or too big (>16384 bytes) HTTP headers: []

[2020-05-15 11:34] cztomczak commented on #275
See #250.

[2020-05-15 11:34] #275 closed

[2020-05-15 11:37] cztomczak commented on #250
See https://github.com/cztomczak/phpdesktop/wiki/Knowledge-Base#error-500-internal-server-error-cgi-program-sent-malformed-or-too-big-16384-bytes-http-headers

Test run php-cgi-with ext with a simple script from command line.

[2020-05-15 11:38] cztomczak commented on #250
You have to replace all PHP binaries, not just one file.

[2020-05-15 11:40] cztomczak commented on #250
Nvm before. Test run the new built "php-cgi" with your script from command line.

[2020-05-15 12:18] ashu-ch commented on #250
[0515/174645.672717:ERROR:block_files.cc(111)] Failing CreateMapBlock
[0515/174645.674348:ERROR:backend_impl.cc(605)] Create entry failed http://127.0.0.1:33789/
[0515/174645.677002:INFO:mongoose_server.cpp(52)] GET 500 /

[0515/174645.704347:ERROR:sandbox_linux.cc(364)] InitializeSandbox() called with multiple threads in process gpu-process.
[0515/174645.722479:ERROR:command_buffer_proxy_impl.cc(

[2020-05-20 06:56] ashu-ch commented on #250
@cztomczak
if I'm uninstalling php from my system my app is not running.
if I've to install php in my system then what is the use of php directory

[2020-06-01 06:47] kanishka5564 opened #276 "Didn't connect with databse"
Hello, I hosted my database on Online Server, How to connect this with it

[2020-06-01 11:10] cztomczak commented on #276
I guess you need to change host from localhost to public ip address in script configuration.

[2020-06-12 10:15] Saint-Cyr opened #277 "Add full screen option to setting.json"
Is there a way to consider this feature for the next release ? Like the windows version, it will be nice to make it possible to set full screen option in setting.json

[2020-06-21 13:32] #200 closed

[2020-07-15 08:21] AadhithyanKarthick opened #278 "Form inputs required Validations not showing in application"
I am using bootstrap for frontend. When i click on submit button without filling the input fields it is not showing validation errors in the empty input fields. The page is not submitting if i left fields as blank, but i need the validation messages to be shown. It is working fine in all Browsers but not working in PhpDesktop. Kindly help

[2020-07-30 15:33] KrPawan opened #279 "JavaScript is not functioning"
i have written php website including HTML CSS JavaScript and mysql which works well on xampp server but
While creating the phpdesktop app the app is running but the JavaScript is not working

[2020-07-31 06:06] meetmec12 opened #280 "Error 500: Internal Server Error On windows 10"
Error 500: Internal Server Error
CGI program sent malformed or too big (>16384 bytes) HTTP headers: []

[2020-07-31 09:09] cztomczak commented on #280
See https://github.com/cztomczak/phpdesktop/wiki/Knowledge-Base#error-500-internal-server-error-cgi-program-sent-malformed-or-too-big-16384-bytes-http-headers

[2020-08-04 11:04] Dyp81 commented on #276
Hello, i downloaded the 57.0 php 7.1 version and i tried adding php_pdo_sqlsrv_71_ts_x64 and php_dio-0.1.0-7.1.ts DLLs but it shows the could not find driver and driver not installed when i launch my programs. i added both DLLs in the ext folder and added entries in the ini file.
How can i do it

[2020-08-04 11:09] cztomczak commented on #276
Your extension is not compatible (ts = thread safe). See knowlegdge base wiki page.

[2020-08-04 11:09] #276 closed

[2020-08-30 12:58] NJseo opened #281 "Don't know how to use Composer with PHPDESKTOP: Need to use Twilio"
Hi, I am trying to use Twilio on my PHPDesktop application but it requires composer installed files and I just am not sure how to do this with PHPDESKTOP. Can you be of assistance?

[2020-08-30 18:08] NJseo opened #282 "Twilio Needs SSL support but don't know how to enable"
Need ssl support but don't know how to enable. Its a requirement of Twilio.

Questions should be asked on the forum:
https://groups.google.com/d/forum/phpdesktop

[2020-09-04 16:46] cztomczak commented on #278
Some inputs are not supported in upstream CEF. Related: https://github.com/cztomczak/phpdesktop/issues/209

[2020-09-11 09:54] soufi7 opened #283 "starting app minimized"
Would it be possible to add an option to auto start app minimized to tray?

[2020-09-11 13:16] Goutte commented on #269
Hello !

I also have this issue ; spent the day trying to compile the CFE branch with the fix, to no avail.

Is there a fix in the works for this repo, or are you waiting for the merge upstream ?

[2020-09-11 13:22] cztomczak commented on #269
I don't think this is fixed in CEF. You need to change phpdesktop code that handles focus signals. I've mentioned the X11 functions in an earlier comment.

[2020-09-15 14:28] shanmukhateja commented on #255
Hi @cztomczak,

I would like to know how would we execute PHP lib in `client_handler.cpp`? The way I see it, all available methods inside `window.phpdesktop` object are Cef related and are handled in `ClientHandler::OnProcessMessageReceived`. Do you have a strategy in mind?

I checked the PHP lib in your above comment and its a wrapper around executables inside [bin](https://github.com/jolicode/Jo

[2020-09-15 14:44] cztomczak commented on #255
You can execute any binary (PHP or  notifu) from C++. On Windows use `ShellExecuteEx`. Example code: https://github.com/cztomczak/phpdesktop/search?q=shellexecuteex&unscoped_q=shellexecuteex

[2020-09-15 17:32] shanmukhateja opened #284 "Visual Studio 2017/2019 support?"
Hi,

I tried opening the project solution in Visual Studio 2017 Community and I got default "This project is incompatible with this version of Visual Studio".

I tried using `vcvars64.bat` to compile `cefclient` and although it compiled and worked, I still can't compile `phpdesktop` with `msbuild`.

Could you consider upgrading the project to recent editions of Visual Studio like 2017 or 2019?

[2020-09-15 20:58] cztomczak commented on #284
What if you right click on the project and choose "Reload project" or "Resolve errors" if you have such options?

[2020-09-16 04:21] shanmukhateja commented on #284
Hi @cztomczak

When I open the solution in VS 2017, it would show the following in Solution Explorer:
![err2](https://user-images.githubusercontent.com/43369891/93291851-d88d0e00-f801-11ea-8ed2-0cc83a38d2cd.PNG)

And when I tried "Reload project" and "Resolve errors", it would show this prompt and then nothing happens.
![err1](https://user-images.githubusercontent.com/43369891/93291934-ff4b4480-f8

[2020-09-16 08:46] #284 closed

[2020-09-18 20:00] KevinWoolfolk commented on #256
Do you find any solution for the problem?

[2020-09-24 10:07] #279 closed

[2020-09-24 10:08] KrPawan commented on #279
i have found the solution for this problem

[2020-09-28 17:32] D4708 commented on #244
The same issue

[2020-09-30 15:14] successful-fella opened #285 "Scroll Lag"
I'm experiencing scrolling lag. I echo phpinfo() and the scrolling was fine but with a little bit of hint of lag. I think with big dashboards, this small lag becomes huge. The apps I tested works properly on Chrome browser though.

[2020-10-05 18:06] successful-fella commented on #285
Closing this because upgrading Chrome version will fix this issue.

[2020-10-05 18:06] #285 closed

[2020-10-16 20:44] passariello opened #286 "VCRUNTIME410.DLL"
For sure you knows ... but please, fix! :)

![Screenshot 2020-10-16 134241](https://user-images.githubusercontent.com/17809213/96307020-bbd92700-0fb5-11eb-9933-89e59104c86e.png)

[2020-10-17 07:24] kmlpandey77 commented on #286
PHP 7 requires "Visual C++ Redistributable for Visual Studio 2015" installed - download x86 version.

[2020-10-17 15:06] cztomczak commented on #286
See notes for the release: https://github.com/cztomczak/phpdesktop/releases/tag/chrome-v57.0-rc

[2020-10-21 15:26] inprovo commented on #283
I would also like this feature!

[2020-10-24 06:17] passariello commented on #286
Thanks guys! ... Yes, I see! :)

[2020-11-08 18:00] xgamanet commented on #272
I have the same problem, how much would it cost to have this update?  Cheers!!

[2020-11-08 18:02] xgamanet commented on #272
specifically, a configurable silent print.

[2020-11-20 12:57] johnhart96 opened #287 "Popup windows full screen"
Questions should be asked on the forum:
https://groups.google.com/d/forum/phpdesktop

Hello. Is is possible to have all popup windows show full screen?

John

[2020-11-20 23:13] Mynameisnobo opened #288 "Connecting phpdesktop to MS SQL Server"
Questions should be asked on the forum:
https://groups.google.com/d/forum/phpdesktop

Hello. My php and html code is connected to my MS SQL Server. I used phpdesktop and converted my code to .EXE but my program doesn't get any feedback from the server. My question is can phpdesktop be connected to SQL Server?

[2020-12-07 09:00] maddin200 opened #289 "shadow variable"
/src/cef/client_handler.cpp line 142

BrowserWindow* phpBrowser = GetBrowserWindow(cefHandle);
    if (phpBrowser) {
        // This block of code gets called for Main window & Devtools window.
        ASSERT(!phpBrowser->GetCefBrowser().get());
        if (!phpBrowser->GetCefBrowser().get()) {
            LOG_DEBUG << "SetCefBrowser() called in "
                            "ClientHandler::OnAfte

[2020-12-07 09:06] maddin200 opened #290 "include twice"
/src/cef/app.cpp) checkincludetwin line 14 : twin include (app.h) also in line 8:

[2020-12-15 09:42] rescenic opened #291 "PHPDesktop Only Shows Source Code"
I am using Windows 10.
![help](https://i.ibb.co/V3SW0Mn/15-12-2020-1029-16-35-36.png)
VC++ 2015 are already installed on my machine.
![vc++](https://i.ibb.co/mzJFPBC/15-12-2020-1030-16-41-26.png)
Please help me out.

[2020-12-15 10:02] rescenic commented on #291
Problem solved.
I updated my PHP to version 7.4.13 x32 Non-TS. It works again.

[2020-12-15 10:02] #291 closed

[2021-01-06 23:52] aesu opened #292 "Grettings, which is the current status of this project"
This comment is just to say thanks for this nice and really helpful project, please keep it alive. grettings from Venezuela.

[2021-01-13 06:24] mehmetsarr opened #293 "PHP Version Error"
"PHP Desktop v57.0 for Windows Version" does not support php 7.2 and above. How can we update the php version?

[2021-01-13 09:25] cztomczak commented on #293
See https://github.com/cztomczak/phpdesktop/wiki/Knowledge-Base#php-interpreter--extensions

[2021-01-14 05:29] mehmetsarr commented on #293
Thank you so much

[2021-01-18 18:16] ronalruiiz opened #294 "Laravel Method Http PUT 401"
This only happens with the PUT method

![image](https://user-images.githubusercontent.com/38189074/104950764-45bad680-598f-11eb-91d4-c4271c295107.png)

[2021-01-19 09:48] cztomczak commented on #294
This method is not supported by the Mongoose web server.

[2021-01-31 11:19] rohangyemul opened #295 "Datalist Not working or showing"
Questions should be asked on the forum:
https://groups.google.com/d/forum/phpdesktop

[code]

**THIS ABOVE CODE NOT WORKING**

[2021-02-10 21:20] DocBitsSchubser opened #296 "Node.JS"
Is it possible to install Node.JS under PhpDesktop? If so what is the best way to realize this.

[2021-02-11 13:29] coderkoala commented on #296
Unfortunately not. It's configured under apache, you'll need something else. Try Electron.

[2021-02-11 18:36] johnhart96 commented on #277
I also would like this feature if possible

[2021-02-11 18:38] johnhart96 opened #297 "Ability to take <title> for the window title."
hey guys. Would it be possible to add the ability to have the window title for the main window and the pop up window to take what the html title is set to?

[2021-03-12 19:56] MarioDoDo opened #298 "PHP error - trying to get property of none object"

[2021-03-18 08:13] #298 closed

[2021-03-21 08:42] mabnagroup commented on #279
what is the solution?

[2021-03-30 12:14] Dr-Nio commented on #253
How do i fix this error
Fatal error: Uncaught Error: Call to undefined function curl_init()
PHPDESKTOP_VERSION=31.8

[2021-03-30 13:34] Dr-Nio commented on #253
I solved this problem by enabling
FROM
;extension_dir = "ext"
TO
extension_dir = "ext"

In php.ini file
PHP7.6.14

Enjoy!

[2021-04-18 19:51] Garrcomm commented on #282
In de `php` folder (where `php.exe` exists), add a `php.ini` file with these contents:
[code]
This way, you can add all extensions available in the `php/ext` folder.
Is that folder empty? Download the full version of PHP at https://windows.php.net/download/

[2021-04-18 19:55] Garrcomm commented on #281
Download a `composer.phar` file from https://getcomposer.org/download/ and place it in the `php` directory.
Now, open a `cmd.exe` window and go to the folder where your php code is. There, execute:
[code]

[2021-05-02 06:40] emilthorne commented on #282
Yes, that part works. Thanks!

But i also need to enable the .pem-certificate with
curl.cainfo="\php\extras\ssl\cacert.pem"
openssl.cafile="\php\extras\ssl\cacert.pem"

But I'm struggeling with the relative file paths here.

When putting in an absolute path to the cacert.pem it works fine, but when trying to input a relative file path it fails to find the cacert.pem.
What relative root is used in

[2021-05-02 07:11] Garrcomm commented on #282
According to the example ini file `php.ini-development` it should require an absolute path:
[code]

You could work around this by using code:
[code]

In this case it doesn't matter that PHP Desktop is in play, this is configuring PHP like any other PHP instance.

[2021-06-07 23:34] terremoth commented on #296
This questions seems a lot weird.
Why would you want to install nodejs with PHP?
Doesn't make sense, since both technologies are server side processors.  You either choose php or nodejs to process things.

If by, some reason, you need to install nodejs, you can make a php script that downloads nodejs and asks user to execute the installer (permission to install). But this would be a lot weird too;

[2021-06-08 06:52] johnhart96 commented on #296
I have to agree. Also if you want to use Node.JS then maybe you really want to be using Electron instead.

[2021-07-03 09:59] mhamzaq869 opened #299 "Connect MYSQL Database ?"
Questions should be asked on the forum:
https://groups.google.com/d/forum/phpdesktop

[2021-07-05 21:37] cztomczak commented on #299
See the Knowledge Base wiki page.

[2021-07-05 21:37] #299 closed

[2021-08-17 12:27] dastaankhan06 opened #300 "About File Extension"
Questions should be asked on the forum:
https://groups.google.com/d/forum/phpdesktop

Hi sir i have download the files but its application file  extension is change its not working
the  application file  extension is sln and all files has in another extensions

[2021-08-17 13:03] cztomczak commented on #300
Looks like you've downloaded sources. The binaries link is [phpdesktop-chrome-57.0-rc-php-7.1.3.zip](https://github.com/cztomczak/phpdesktop/releases/download/chrome-v57.0-rc/phpdesktop-chrome-57.0-rc-php-7.1.3.zip)

[2021-09-02 06:59] khushal-more opened #301 "phpdesktop chrome not working on postman"
Hello Team,
I am new to phpdesktop chrome. I simply created index.php file in www directory for simplicity  and modified settings.json file for static IP as well as port, it's working properly in phpdesktop screen as well as in browser(by navigating to IP with port). but when i try to hit the same request on Postman, then there is an issue for response. i have attached all screens for reference. m

[2021-10-01 10:02] MedAly666 commented on #195
any news ??

[2021-11-06 12:58] kevinkoech opened #302 "Error Database or Login failed "line 33:user-login.php""
Questions should be asked on the forum:
https://groups.google.com/d/forum/phpdesktop
 I am trying to login but it is giving an error I havent done anything on sqlite it is a mysql DB

[2021-11-08 16:24] cztomczak commented on #302
Your database log ons may be restricted to specific ip addresses.

[2021-11-08 16:24] #302 closed

[2021-11-08 16:28] cztomczak commented on #301
PHP Desktop uses Mongoose web server. Maybe Postman doesn't understand one of the headers Mongoose sends. Or Mongoose doesn't understand some of the headers Postman sends. I suggest you compare what headers sends PHP Desktop vs other web server. Also what is "Error: Parse error". Is this error that Mongoose throws or Postman? Any other messages in php desktop logs?

[2021-11-08 16:28] #300 closed

[2021-11-08 16:32] cztomczak commented on #296
Looks like this was answered. If @mkoakintomiwa  you would like to put this answer to Knowledge Base wiki page feel free.

[2021-11-08 16:33] cztomczak commented on #295
Some of HTML 5 widgets are not supported by Chromium Embedded Framework. This may be fixed when we upgrade to newer CEF version.

[2021-11-08 16:34] cztomczak commented on #295
Duplicate of https://github.com/cztomczak/phpdesktop/issues/209 .

[2021-11-08 16:34] #295 closed

[2021-11-08 16:34] #294 closed

[2021-11-08 16:36] cztomczak commented on #292
Thank you. There haven't been any major upgrades for a long time. There are fundings running to do it, so if you're interested feel free to contribute. Support on the forums is active.

[2021-11-08 16:36] #292 closed

[2021-11-08 16:36] cztomczak commented on #290
Looks like an issue with your PHP scripts.

[2021-11-08 16:36] #290 closed

[2021-11-08 16:37] cztomczak commented on #289
I don't see a problem.

[2021-11-08 16:37] #289 closed

[2021-11-08 16:38] #293 closed

[2021-11-08 16:39] cztomczak commented on #288
Yes, it can connect. Check if your sql server accepts connections from php desktop ip address.

[2021-11-08 16:39] #288 closed

[2021-11-08 16:39] #286 closed

[2021-11-08 16:40] cztomczak commented on #283
Duplicate of https://github.com/cztomczak/phpdesktop/issues/199 .

[2021-11-08 16:40] #283 closed

[2021-11-08 16:40] cztomczak commented on #287
Only main window fullscreen is supported.

[2021-11-08 16:40] #287 closed

[2021-11-08 16:41] #281 closed

[2021-11-08 16:41] #280 closed

[2021-11-08 16:41] #282 closed

[2021-11-08 16:43] #268 closed

[2021-11-18 11:13] romondi opened #303 "Ability to zoom in and out"
No functionality to zoom in and zoom out on browser. (ctrl-) or (ctrl+) on other browsers

[2021-12-03 18:20] hiteshrawat opened #304 "Javascript Class Support"
Questions should be asked on the forum:
https://groups.google.com/d/forum/phpdesktop

[2021-12-25 06:53] darkterminal commented on #272
I have pull example how to create Windows Print Service on start up and on shutdown application just feel free to take a look https://github.com/cztomczak/phpdesktop/pull/305 maybe it's help you.

[2021-12-25 06:55] darkterminal commented on #223
I have pull example how to create Windows Print Service on start up and on shutdown application just feel free to take a look https://github.com/cztomczak/phpdesktop/pull/305 may be it's help you to know how it's work.

[2021-12-25 06:57] darkterminal commented on #186
I have pull example how to create Windows Print Service on start up and on shutdown application just feel free to take a look https://github.com/cztomczak/phpdesktop/pull/305 maybe it's help you to know how it's work for me.

[2022-01-19 05:03] samjco commented on #228
Hey @cztomczak
Couldn't we use ffmpeg (https://ffmpeg.org/download.html)
To convert Mp4 to WebM which works with phpdesktop?

[code]

[2022-02-01 19:36] JeanPaulLucien opened #306 "Windows XP"
I look for Windows XP version and knew that version or Windows XP uses IE 6.0 engine. I know that to use Chrome on Windows XP is bad idea. There are Firefox and forks with big community and developer team.

[2022-02-02 16:12] cztomczak commented on #306
Version 47 of phpdesktop runs on Win XP SP3: https://github.com/cztomczak/phpdesktop/releases/tag/chrome-v47.5-rc

[2022-02-17 20:44] snelbezorgd opened #307 "Video player not working"
Questions should be asked on the forum:
https://groups.google.com/d/forum/phpdesktop

Hi,
html 5 video works in the browser and not in the app. Why?

[2022-02-22 15:00] Afrij15 opened #308 "Window.print error"
Questions should be asked on the forum:
https://groups.google.com/d/forum/phpdesktop
WIndow.print prints a blank page with GetBrowserWindow(): not found, hwnd = 1181774 error

[2022-05-18 19:32] mikeshiyan opened #310 "Linux build php-cgi shared library issue"
Hello! Linux Mint user here.

I downloaded and extracted `phpdesktop-linux-72.0.tar.gz`.
I cleared the `www` directory and put a single file there, named `index.php` and containing `Hello World!` (no php code).

When I open phpdesktop I see:

When I run `./php-cgi -i` (on the packaged php-cgi) I get:

I saw a mention of the "libpq5" in the [release notes](https://github.com/cztomczak/phpdesktop/re

[2022-05-26 13:49] cztomczak commented on #310
Have you tried both 72.0 and 72.1? The release note is for 72.1, so try that version.

[2022-05-27 08:09] mikeshiyan commented on #310
Unfortunately, I didn't try 72.1, only 72.0.

Anyway, I decided to use fresh PHP binaries, so I won't use packaged ones.

[2022-08-03 06:40] berett opened #311 "php-desktop 57.0 not interpreting HTML"
When I run PHP Desktop I see the HTML code itself ... does anybody have the same issue?

I have tried with 47.0 version (that runs PHP5.4) and it works

[2022-08-14 00:18] taoteh1221 commented on #303
Agree zoom really would come in handy in any future builds (as well as saving the window size on exit)...other than that, my app UX ( https://github.com/taoteh1221/Open_Crypto_Tracker ) is great in this container.

Even adding a CSS-based zoom feature into my app causes issues with the detected cursor position by chromium embedded. Chart crosshair hovering and tooltip popin windows are way off in

[2022-08-17 11:13] abbasmashaddy72 opened #312 "Update"
Need Update PHP 8.x for phpdesktop

[2022-08-25 21:50] redatlm commented on #312
i think you can simply download PHP 8 version and replace it by your PHP folder in PHP desktop chrome

[2022-08-26 10:20] abbasmashaddy72 commented on #312
Thanks I will Check it Out

[2022-08-26 10:40] redatlm commented on #312
i tried this from PHP 7.1 (default PHP version) to php 7.4.12 version and it work perfectly.
Now i have 3 softwares using PHP DESKTOP CHROME and there is no bugs for windows 7, 10 and 11.
I recommend you to use it.

[2022-08-31 18:42] zohaib87 commented on #312
[Update the PHP Version ](https://github.com/cztomczak/phpdesktop/wiki/Knowledge-Base#php-interpreter--extensions)

[2022-09-30 09:53] BlackBeardo opened #313 "Bootstrap 5 off canvas, modals, burgur menu dropdowns is not working in php-desktop for windows."
Is there any way to work with bootstrap 5 and php-desktop for windows. BS 4 is working fine with php-dektop. but i have to use bootstrap 5.

can any one tell me what's the issue with bs5?

can we update chrome version? how?

[2022-10-24 01:07] AskDesignTeam opened #314 "Any version without chrome"
i want to use php desktop without chrome, i need to run only the server with cmd commands on silent mode, i want to delete all chrome files like "libcef.dll" to have a final small folder size server to deploy with my app

[2022-10-28 08:35] DBoutesfira commented on #313
same problem

[2022-10-30 20:09] inventer88 commented on #282
curl.cainfo & openssl.cafile path to cacert.pem file has to a Absolute path in php.ini
&
This does not work,
[code]

Curl with ssl is absolute necessity in many projects. I found a solution,
put absolute path in php.ini for cacert.pem, for example "C://ApplicationConfig/cacert.pem" (or any other location like inside Documents folder)

Now, make your application into a setup executable using this f

[2022-10-31 18:10] cztomczak commented on #314
See https://github.com/cztomczak/phpdesktop/wiki/PHP-Desktop-MSIE-v1.14

[2022-11-17 23:43] batistrutaa2 opened #315 "Algum procedimento recomendado para a lib funcionar na versão 7.4 do php?"
Questions should be asked on the forum:
https://groups.google.com/d/forum/phpdesktop